<!doctype html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="WanderStay" />
    <meta name="keywords" content="unica, creative" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Yên Trà Quán</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/flaticon.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
      <div class="top-nav">
        <div class="container">
          <div class="row">
            <div class="col-lg-6"></div>
          </div>
        </div>
      </div>
      <div class="menu-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-2">
              <div class="logo">
                <a href="./index.html">
                  <img src="img/logo.png" alt="" />
                </a>
              </div>
            </div>
            <div class="col-lg-10">
              <div class="nav-menu">
                <nav class="mainmenu">
                  <ul>
                    <li><a href="./index.html">Trang chủ</a></li>
                    <li><a href="./about-us.html">Về chúng tôi</a></li>
                    <li>
                      <a href="./pages.html">Sản phẩm</a>
                      <ul class="dropdown">
                        <li><a href="./room-details.html">Trà hoa</a></li>
                        <li><a href="./blog-details.html">Trà thảo mộc</a></li>
                        <li><a href="#">Trà sen</a></li>
                        <li><a href="#">Bột sấy lạnh</a></li>
                      </ul>
                    </li>
                    <li class="active"><a href="./contact.html">Liên hệ</a></li>

                    <li><a href="./login.html" style="color: #0650c2">Đăng nhập</a></li>
                    <li><a href="./sign-up.html" style="color: #0650c2">Tạo tài khoản</a></li>
                  </ul>
                </nav>
                <div class="nav-right search-switch">
                  <img style="color: #333333; width: 20px" src="./img/grocery-store.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-text">
              <div class="col-lg-12">
                <div style="padding-top: 30px" class="intro-page-text">
                  <h2 style="color: #fac26b">GIỎ HÀNG</h2>
                </div>
              </div>
            </div>
            <div class="breadcrumb-text"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb Section End -->

    <div class="untree_co-section before-footer-section">
      <div class="container">
        <div class="row mb-5 cart-box">
          <form class="col-md-12" method="post">
            <div class="site-blocks-table">
              <table class="table">
                <thead class="cart-header">
                  <tr>
                    <th class="product-thumbnail">Sản phẩm</th>
                    <th class="product-name">Tên sản phẩm</th>
                    <th class="product-price">Giá</th>
                    <th class="product-quantity">Số lượng</th>
                    <th class="product-total">Tạm tính</th>
                    <th class="product-remove">Xoá</th>
                  </tr>
                </thead>
                <tbody class="cart-body">
                  <tr>
                    <td class="product-thumbnail">
                      <img src="./img/product/product_1.jpg" alt="Image" class="img-fluid" />
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">Liên Hoa Ngự Trà</h2>
                    </td>
                    <td>249.00 VNĐ</td>
                    <td>
                      <div
                        class="input-group mb-3 d-flex align-items-center quantity-container"
                        style="max-width: 120px"
                      >
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-black decrease" type="button">&minus;</button>
                        </div>
                        <input
                          type="text"
                          class="form-control text-center quantity-amount"
                          value="1"
                          placeholder=""
                          aria-label="Example text with button addon"
                          aria-describedby="button-addon1"
                        />
                        <div class="input-group-append">
                          <button class="btn btn-outline-black increase" type="button">&plus;</button>
                        </div>
                      </div>
                    </td>
                    <td>249.00 VNĐ</td>
                    <td><a href="#" class="btn btn-black btn-sm">X</a></td>
                  </tr>

                  <tr>
                    <td class="product-thumbnail">
                      <img src="./img/product/product_2.jpg" alt="Image" class="img-fluid" />
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">Trà Gạo Lứt Thất Tinh Hoa</h2>
                    </td>
                    <td>249.00 VNĐ</td>
                    <td>
                      <div
                        class="input-group mb-3 d-flex align-items-center quantity-container"
                        style="max-width: 120px"
                      >
                        <div class="input-group-prepend align-items-center">
                          <button class="btn btn-outline-black decrease" type="button">&minus;</button>
                        </div>
                        <input
                          type="text"
                          class="form-control text-center quantity-amount"
                          value="1"
                          placeholder=""
                          aria-label="Example text with button addon"
                          aria-describedby="button-addon1"
                        />
                        <div class="input-group-append">
                          <button class="btn btn-outline-black increase" type="button">&plus;</button>
                        </div>
                      </div>
                    </td>
                    <td>249.00 VNĐ</td>
                    <td><a href="#" class="btn btn-black btn-sm">X</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-md-6">
            <!-- <div class="row mb-5">
              <div class="col-md-6 mb-3 mb-md-0">
                <button class="btn btn-black btn-sm btn-block">Cập nhật Giỏ hàng</button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-outline-black btn-sm btn-block">Tiếp tục mua sắm</button>
              </div>
            </div> -->
            <div class="row">
              <div class="col-md-12">
                <label class="text-black h4" for="coupon">Mã giảm giá</label>
                <p>Nhập mã giảm giá (nếu có).</p>
              </div>
              <div class="col-md-8 mb-3 mb-md-0">
                <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code" />
              </div>
              <div class="col-md-4">
                <button class="btn btn-black">Áp dụng mã</button>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row justify-content-center">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-center border-bottom mb-5 cart-total-btn">
                    <h3 class="text-black h4 text-uppercase">Tổng đơn hàng</h3>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <span class="text-black">Tạm tính</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">490.00 VNĐ</strong>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Tổng</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">439.00 VNĐ</strong>
                  </div>
                </div>

                <div class="row justify-content-center">
                  <div class="">
                    <button class="btn btn-black btn-sm btn-block" onclick="window.location='checkout.html'">Cập nhật Giỏ hàng</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Section Begin -->
    <footer class="footer-section">
      <div class="container">
        <div class="footer-text">
          <div class="row">
            <div class="col-lg-4">
              <div class="ft-about">
                <div class="logo">
                  <a href="#">
                    <img class="img-logo" src="img/logo.png" alt="" />
                  </a>
                </div>
                <p>
                  Yên Trà Quán với những tâm hồn tự tại đã trót yêu mẹ thiên nhiên say đắm, mong muốn được dùng các loại
                  thảo mộc chữa lành cho tất cả mọi người.
                </p>
                <div class="fa-social">
                  <a href="https://www.facebook.com/yentraquan22"><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a
                    href="https://www.instagram.com/yen_tra_quan?fbclid=IwAR02bTLIYQdy1fqupsAPNc_2UkxzAIr7Ui59Qmkzi3-l6RPKh0x7deDCMo8"
                    ><i class="fa fa-instagram"></i
                  ></a>
                  <a href="#"><i class="fa fa-youtube-play"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
              <div class="ft-contact">
                <h6>Liên hệ</h6>
                <ul>
                  <li>0123456789</li>
                  <li>yentraquan@gmail.com</li>
                  <li>227 Nguyen Van Cuu, Ward 4, <br />District 5, HCMc</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
              <div class="ft-newslatter">
                <h6>Thông tin mới nhất</h6>
                <p>Cập nhật những ưu đãi và thông tin mới.</p>
                <form action="#" class="fn-form">
                  <input type="text" placeholder="Email" />
                  <button type="submit"><i class="fa fa-send"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-option">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <ul>
                <li><a href="#">Chính sách bán hàng</a></li>
                <li><a href="#">Chính sách thanh toán</a></li>
                <li><a href="#">Chính sách bảo hành</a></li>
                <li><a href="#">Điều khoản dịch vụ</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
