<html lang='zxx'>

<head>
    <meta charset='UTF-8' />
    <meta name='description' content='WanderStay' />
    <meta name='keywords' content='unica, creative' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Yên Trà Quán</title>

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700&display=swap' rel='stylesheet' />
    <link href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap' rel='stylesheet' />

    <!-- Css Styles -->
    <link rel='stylesheet' href='css/bootstrap.min.css' type='text/css' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' />
    <link rel='stylesheet' href='css/elegant-icons.css' type='text/css' />
    <link rel='stylesheet' href='css/flaticon.css' type='text/css' />
    <link rel='stylesheet' href='css/owl.carousel.min.css' type='text/css' />
    <link rel='stylesheet' href='css/nice-select.css' type='text/css' />
    <link rel='stylesheet' href='css/jquery-ui.min.css' type='text/css' />
    <link rel='stylesheet' href='css/magnific-popup.css' type='text/css' />
    <link rel='stylesheet' href='css/slicknav.min.css' type='text/css' />
    <link rel='stylesheet' href='css/style.css' type='text/css' />
</head>

<body>
    <!-- Page Preloder -->
    <div id='preloder'>
        <div class='loader'></div>
    </div>

    <!-- Header Section Begin -->
    <header class='header-section header-normal'>
        <div class='top-nav'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-6'></div>
                </div>
            </div>
        </div>
        <div class='menu-item'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-2'>
                        <div class='logo'>
                            <a href='/'>
                                <img src='img/logo.png' alt='' />
                            </a>
                        </div>
                    </div>
                    <div class='col-lg-10'>
                        <div class='nav-menu'>
                            <nav class='mainmenu'>
                                <ul>
                                    <li><a href='/'>Trang chủ</a></li>
                                    <li><a href='/about-us'>Về chúng tôi</a></li>
                                    <li>
                                        <a href='/pages?page=0'>Sản phẩm</a>
                                        <ul class='dropdown'>
                                            <li><a href='/pages?page=0&categoryId=f4c74a06-4cb7-477d-b204-ff40143e9b06'>Phong
                                                    Vị Yên Trà</a></li>
                                            <li><a href='/pages?page=0&categoryId=20ee69be-bde2-426c-9eeb-622736cad446'>Hoa
                                                    Cỏ Dưỡng Tâm</a></li>
                                            <li><a href='/pages?page=0&categoryId=52aaf74e-736a-4c08-826e-c7b6562f1d20'>Thảo
                                                    Mộc Nhiệt Đới</a></li>
                                            <li><a href='/pages?page=0&categoryId7e7dd67f-208b-4c64-b99f-d1e9c7b60274'>Yên
                                                    An Ngự Trà</a></li>
                                        </ul>
                                    </li>
                                    <li><a href='/contact'>Liên hệ</a></li>
                                    <li class='active'>
                                        <a href='/cart' style='color: #0650c2'><img href='/cart'
                                                style='color: #333333; width: 20px; ' src='./img/cart-shopping.svg'
                                                alt='' /></a>
                                    </li>
                                    {{#if isLoggedIn}}
                                    <li>
                                        <img style='color: #333333; width: 20px; ' src='./img/user-profile.svg'
                                            alt='' />
                                        {{customerName}}
                                        <ul class='dropdown'>
                                            <li><a href='/profile'><img style='width: 20px' src='/img/user.png' />
                                                    Trang cá nhân</a></li>
                                            <li><a href='/change-password'><img style='width: 20px'
                                                        src='/img/key.svg' />
                                                    Đổi mật khẩu</a></li>
                                            <li><a href='/logout'><img style='width: 20px' src='/img/log-out.svg' />
                                                    Đăng xuất</a></li>
                                        </ul>
                                    </li>
                                    {{else}}
                                    <li><a href='/login' style='color: #0650c2'>Đăng nhập</a></li>
                                    <li><a href='/sign-up' style='color: #0650c2'>Tạo tài khoản</a></li>
                                    {{/if}}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <div class='breadcrumb-section'>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-12'>
                    <div class='breadcrumb-text'>
                        <div class='col-lg-12'>
                            <div style='padding-top: 30px' class='intro-page-text'>
                                <h2 style='color: #fac26b'>GIỎ HÀNG</h2>
                            </div>
                        </div>
                    </div>
                    <div class='breadcrumb-text'></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <div class='untree_co-section before-footer-section'>
        <div class='container'>
            <div class='row mb-5 cart-box'>
                <form class='col-md-12' method='post'>
                    <div class='site-blocks-table'>
                        <table class='table'>
                            <thead class='cart-header'>
                                <tr>
                                    <th class='product-thumbnail'>Sản phẩm</th>
                                    <th class='product-name'>Tên sản phẩm</th>
                                    <th class='product-price'>Giá</th>
                                    <th class='product-quantity'>Số lượng</th>
                                    <th class='product-total'>Thành tiền</th>
                                    <th class='product-remove'>Xoá</th>
                                </tr>
                            </thead>
                            <tbody class='cart-body'>

                            </tbody>
                        </table>
                    </div>
                </form>
            </div>

            <div class='row'>
                <div class='col-6'>
                    <div class='row justify-content-center'>
                        <div class='col-md-7'>
                            <div class='row'>
                                <div class='col-md-12 text-center border-bottom mb-5 cart-total-btn'>
                                    <h3 class='text-black h4 text-uppercase'>Tổng đơn hàng</h3>
                                </div>
                            </div>
                            <div class='row mb-3'>
                                <div class='col-md-6'>
                                    <span class='text-black'>Tống tiền</span>
                                </div>
                                <div class='col-md-6 text-right'>
                                    <strong class='text-black' id="sumCart">0 VNĐ</strong>
                                </div>
                            </div>

                            <div class='row justify-content-center'>
                                <div class=''>
                                    <a href='/checkout'>
                                        <button id="checkoutBtn" class='btn btn-black btn-sm btn-block'
                                            onclick="window.location='/checkout'">Tiến hành thanh toán</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section Begin -->
    <footer class='footer-section'>
        <div class='container'>
            <div class='footer-text'>
                <div class='row'>
                    <div class='col-lg-4'>
                        <div class='ft-about'>
                            <div class='logo'>
                                <a href='#'>
                                    <img class='img-logo' src='img/logo.png' alt='' />
                                </a>
                            </div>
                            <p>
                                Yên Trà Quán với những tâm hồn tự tại đã trót yêu mẹ thiên nhiên say đắm, mong muốn
                                được dùng các loại thảo mộc chữa lành cho tất cả mọi người.
                            </p>
                        </div>
                    </div>
                    <div class='col-lg-3 offset-lg-1'>
                        <div class='ft-contact'>
                            <h6>Liên hệ</h6>
                            <ul>
                                <li>0123456789</li>
                                <li>yentraquan@gmail.com</li>
                                <li>227 Nguyen Van Cuu, Ward 4, <br />District 5, HCMc</li>
                            </ul>
                        </div>
                    </div>
                    <div class='col-lg-3 offset-lg-1'>
                        <div class='ft-newslatter'>
                            <h6>Thông tin mới nhất</h6>
                            <p>Cập nhật những ưu đãi và thông tin mới.</p>
                            <form action='#' class='fn-form'>
                                <input type='text' placeholder='Email' />
                                <button type='submit'><i class='fa fa-send'></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='copyright-option'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-12'>
                        <ul>
                            <li><a href='#'>Chính sách bán hàng</a></li>
                            <li><a href='#'>Chính sách thanh toán</a></li>
                            <li><a href='#'>Chính sách bảo hành</a></li>
                            <li><a href='#'>Điều khoản dịch vụ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src='js/jquery-3.3.1.min.js'></script>
    <script src='js/bootstrap.min.js'></script>
    <script src='js/jquery.magnific-popup.min.js'></script>
    <script src='js/jquery.nice-select.min.js'></script>
    <script src='js/jquery-ui.min.js'></script>
    <script src='js/jquery.slicknav.js'></script>
    <script src='js/owl.carousel.min.js'></script>
    <script src='js/main.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', async function () {
            await loadProduct();

        })

        function getArrayCookie(name) {
            var cookieName = name + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var cookieArray = decodedCookie.split(';');

            for (var i = 0; i < cookieArray.length; i++) {
                var cookie = cookieArray[i].trim();
                if (cookie.indexOf(cookieName) === 0) {
                    // Extract and parse the stored value using JSON.parse
                    return JSON.parse(cookie.substring(cookieName.length, cookie.length));
                }
            }

            return null;
        }

        function setArrayCookie(name, value) {
            const daysToExpire = 60;
            var expires = "";
            if (daysToExpire) {
                var date = new Date();
                date.setTime(date.getTime() + (daysToExpire * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }

            // Convert the array or object to a string using JSON.stringify
            var serializedValue = JSON.stringify(value);

            document.cookie = name + "=" + serializedValue + expires + "; path=/";
        }

        async function loadProduct() {
            const url = `https://yentraquan.shop/api/cart/get-cart`
            const accessToken = getCookie("accessToken")
            const refreshToken = getCookie("refreshToken")

            if (!accessToken && !refreshToken) {
                let products = getArrayCookie("cartCookie");

                let sumCartPro = 0
                const $product_table = $(".cart-body");
                $product_table.html("");
                products.forEach((item, index) => {
                    const sumProduct = item.product.price * item.quantity
                    sumCartPro += sumProduct * 1
                    const html = `<tr>
                                    <td class='product-thumbnail'>
                                        <img src=${item.product.image.url[0]} class='' alt='Image'
                                            class='img-fluid' />
                                    </td>
                                    <td class='product-name'>
                                        <h2 class='h5 text-black'>${item.product.name}</h2>
                                    </td>
                                    <td id="priceProduct">${item.product.price} VNĐ</td>
                                    <td>
                                        <div class='input-group mb-3 d-flex align-items-center quantity-container'
                                            style='max-width: 120px'>
                                            <div class='input-group-prepend'>
                                                <button class='btn btn-outline-black decrease'
                                                    type='button' onclick="decreaseQuantity('${item.productId}', '${item.product.price}')">&minus;   </button>
                                            </div>
                                            <input id='${item.productId}_quan' type='text'
                                                class='form-control text-center quantity-amount' value=${item.quantity}
                                                placeholder='' aria-label='Example text with button addon'
                                                aria-describedby='button-addon1' onfocusout="changeQuantity('${item.productId}', '${item.product.price}')" />
                                            <div class='input-group-append'>
                                                <button class='btn btn-outline-black increase'
                                                    type='button' onclick="increaseQuantity('${item.productId}', '${item.product.price}')">&plus;</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td id='${item.productId}_sum'> ${sumProduct} VNĐ</td >
                <td><a href='#' class='btn btn-black btn-sm' onclick="deleteProductInCart('${item.productId}')">X</a></td>
                                </tr > `
                    $product_table.append($.parseHTML(html));
                })
                document.getElementById('sumCart').innerHTML = sumCartPro + " VNĐ"

                return;
            }

            const headers = {
                authorization: accessToken,
                'refresh-token': refreshToken
            }

            const cartCookie = getArrayCookie('cartCookie')
            if (cartCookie) {
                const url = `https://yentraquan.shop/api/cart/add-to-cart`

                for (let i = 0; i < cartCookie.length; i++) {
                    const data = {
                        productId: cartCookie[i].productId,
                        quantity: cartCookie[i].quantity * 1
                    }

                    await axios
                        .post(url, data, { headers })
                        .then((response) => {
                            res.redirect('/cart')
                        })
                        .catch((error) => {
                            console.error('Error:', error)
                        })
                }
                setArrayCookie('cartCookie', null)

                const $product_table = $(".cart-body");
                $product_table.html("");

                await loadProduct()
                return;
                return;
            }

            let sumCartPro = 0
            await axios.get(url, { headers }).then(response => {
                let products = []
                products = response.data.data
                const $product_table = $(".cart-body");
                $product_table.html("");
                products.forEach((item, index) => {
                    const sumProduct = item.product.price * item.quantity
                    sumCartPro += sumProduct * 1
                    const html = `<tr>
                                    <td class='product-thumbnail'>
                                        <img src=${item.product.image.url[0]} class='' alt='Image'
                                            class='img-fluid' />
                                    </td>
                                    <td class='product-name'>
                                        <h2 class='h5 text-black'>${item.product.name}</h2>
                                    </td>
                                    <td id="priceProduct">${item.product.price} VNĐ</td>
                                    <td>
                                        <div class='input-group mb-3 d-flex align-items-center quantity-container'
                                            style='max-width: 120px'>
                                            <div class='input-group-prepend'>
                                                <button class='btn btn-outline-black decrease'
                                                    type='button' onclick="decreaseQuantity('${item.productId}', '${item.product.price}')">&minus;   </button>
                                            </div>
                                            <input id='${item.productId}_quan' type='text'
                                                class='form-control text-center quantity-amount' value=${item.quantity}
                                                placeholder='' aria-label='Example text with button addon'
                                                aria-describedby='button-addon1' onfocusout="changeQuantity('${item.productId}', '${item.product.price}')" />
                                            <div class='input-group-append'>
                                                <button class='btn btn-outline-black increase'
                                                    type='button' onclick="increaseQuantity('${item.productId}', '${item.product.price}')">&plus;</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td id='${item.productId}_sum'> ${sumProduct} VNĐ</td >
                <td><a href='#' class='btn btn-black btn-sm' onclick="deleteProductInCart('${item.productId}')">X</a></td>
                                </tr > `
                    $product_table.append($.parseHTML(html));
                })
            })
            document.getElementById('sumCart').innerHTML = sumCartPro + " VNĐ"
            const total = document.getElementById("sumCart").textContent
            if (total == "0 VNĐ") {
                document.getElementById("checkoutBtn").style = "display: none"
            }
        }

        async function decreaseQuantity(productId, price) {
            let currentTotal = document.getElementById('sumCart').textContent.match(/\d+/) * 1
            const quantityTag = productId + '_quan'
            const sumTag = productId + '_sum'
            const quantity = document.getElementById(quantityTag).value * 1 - 1
            if (quantity < 1) return
            document.getElementById(quantityTag).value = quantity
            const newSum = quantity * price
            const beforeChange = document.getElementById(sumTag).textContent.match(/\d+/)
            currentTotal += newSum * 1 - beforeChange * 1
            document.getElementById('sumCart').innerHTML = currentTotal + ' VNĐ'
            document.getElementById(sumTag).innerHTML = newSum + ' VNĐ'
            const url = `https://yentraquan.shop/api/cart/update-quantity`
            const accessToken = getCookie("accessToken")
            const refreshToken = getCookie("refreshToken")

            if (!accessToken && !refreshToken) {
                let cartCookie = getArrayCookie('cartCookie')
                for (let i = 0; i < cartCookie.length; i++) {
                    if (cartCookie[i].productId == productId) {
                        cartCookie[i].quantity = quantity * 1;
                    }
                }

                setArrayCookie('cartCookie', cartCookie)
                return;
            }

            const headers = {
                authorization: accessToken,
                'refresh-token': refreshToken
            }
            const data = {
                productId: productId,
                quantity: quantity * 1
            }
            const result = await axios.patch(url, data, { headers })
        }

        async function increaseQuantity(productId, price) {
            let currentTotal = document.getElementById('sumCart').textContent.match(/\d+/) * 1
            const quantityTag = productId + '_quan'
            const sumTag = productId + '_sum'
            const quantity = document.getElementById(quantityTag).value * 1 + 1
            document.getElementById(quantityTag).value = quantity
            const newSum = quantity * price
            const beforeChange = document.getElementById(sumTag).textContent.match(/\d+/)
            currentTotal += newSum * 1 - beforeChange * 1
            document.getElementById('sumCart').innerHTML = currentTotal + ' VNĐ'
            document.getElementById(sumTag).innerHTML = newSum + ' VNĐ'
            const url = `https://yentraquan.shop/api/cart/update-quantity`
            const accessToken = getCookie("accessToken")
            const refreshToken = getCookie("refreshToken")

            if (!accessToken && !refreshToken) {
                let cartCookie = getArrayCookie('cartCookie')
                for (let i = 0; i < cartCookie.length; i++) {
                    if (cartCookie[i].productId == productId) {
                        cartCookie[i].quantity = quantity * 1;
                    }
                }
                setArrayCookie('cartCookie', cartCookie)
                return;
            }

            const headers = {
                authorization: accessToken,
                'refresh-token': refreshToken
            }
            const data = {
                productId: productId,
                quantity: quantity * 1
            }
            const result = await axios.patch(url, data, { headers })
        }

        async function changeQuantity(productId, price) {
            let currentTotal = document.getElementById('sumCart').textContent.match(/\d+/) * 1
            const quantityTag = productId + '_quan'
            const sumTag = productId + '_sum'
            const quantity = document.getElementById(quantityTag).value
            const newSum = quantity * price
            const beforeChange = document.getElementById(sumTag).textContent.match(/\d+/)
            currentTotal += newSum * 1 - beforeChange * 1
            document.getElementById('sumCart').innerHTML = currentTotal + ' VNĐ'
            document.getElementById(sumTag).innerHTML = newSum + ' VNĐ'
            const url = `https://yentraquan.shop/api/cart/update-quantity`
            const accessToken = getCookie("accessToken")
            const refreshToken = getCookie("refreshToken")
            const headers = {
                authorization: accessToken,
                'refresh-token': refreshToken
            }
            const data = {
                productId: productId,
                quantity: quantity * 1
            }
            const result = await axios.patch(url, data, { headers })
        }

        async function deleteProductInCart(productId) {
            const url = `https://yentraquan.shop/api/cart/remove-product-from-cart`
            const accessToken = getCookie("accessToken")
            const refreshToken = getCookie("refreshToken")

            if (!accessToken && !refreshToken) {
                let cartCookie = getArrayCookie('cartCookie')
                for (let i = 0; i < cartCookie.length; i++) {
                    if (cartCookie[i].productId == productId) {
                        cartCookie.splice(i, 1);
                    }
                }
                setArrayCookie('cartCookie', cartCookie)

                const $product_table = $(".cart-body");
                $product_table.html("");

                await loadProduct()
                return;
            }

            const headers = {
                authorization: accessToken,
                'refresh-token': refreshToken
            }

            const data = {
                productId: productId
            }

            await axios.post(url, data, { headers })

            const $product_table = $(".cart-body");
            $product_table.html("");

            await loadProduct()
        }

        function getCookie(name) {
            const match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
            if (match) {
                return decodeURIComponent(match[2]);
            }
            return null;
        }

    </script>
</body>

</html>