<!doctype html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="WanderStay" />
    <meta name="keywords" content="unica, creative" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Yên Trà Quán</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/flaticon.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
      <div class="top-nav">
        <div class="container">
          <div class="row">
            <div class="col-lg-6"></div>
          </div>
        </div>
      </div>

      <div class="menu-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-2">
              <div class="logo">
                <a href="./index.html">
                  <img src="img/logo.png" alt="" />
                </a>
              </div>
            </div>
            <div class="col-lg-10">
              <div class="nav-menu">
                <nav class="mainmenu">
                  <ul>
                    <li><a href="./index.html">Trang chủ</a></li>
                    <li><a href="./about-us.html">Về chúng tôi</a></li>
                    <li>
                      <a href="./pages.html">Sản phẩm</a>
                      <ul class="dropdown">
                        <li><a href="./room-details.html">Trà hoa</a></li>
                        <li><a href="./blog-details.html">Trà thảo mộc</a></li>
                        <li><a href="#">Trà sen</a></li>
                        <li><a href="#">Bột sấy lạnh</a></li>
                      </ul>
                    </li>
                    <li><a href="./contact.html">Liên hệ</a></li>

                    <li><a href="./login.html" style="color: #0650c2">Đăng nhập</a></li>
                    <li class="active"><a href="./sign-up.html" style="color: #0650c2">Tạo tài khoản</a></li>
                  </ul>
                </nav>
                <div class="nav-right search-switch">
                  <img style="color: #333333; width: 20px" src="./img/grocery-store.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header End -->

    <div class="untree_co-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="border p-4 rounded" role="alert">
              <a href="#">Bấm vào đây</a> để đăng nhập tài khoản thanh toán
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Chi tiết đơn hàng</h2>
            <div class="p-3 p-lg-5 border bg-white">
              <div class="form-group row">
                <div class="col-md">
                  <label for="c_fname" class="text-black"
                    >Họ và Tên Người nhận hàng<span class="text-danger">*</span></label
                  >
                  <input type="text" class="form-control" id="c_fname" name="c_fname" />
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_companyname" class="text-black">Nơi nhận</label>
                  <input type="text" class="form-control" id="c_companyname" name="c_companyname" />
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_address" class="text-black">Địa chỉ<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_address" name="c_address" placeholder="Tên đường" />
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <label for="c_state_country" class="text-black">Quận/Huyện<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_state_country" name="c_state_country" />
                </div>
                <div class="col-md-6">
                  <label for="c_postal_zip" class="text-black">Thành phố<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_postal_zip" name="c_postal_zip" />
                </div>
              </div>

              <div class="form-group row mb-5">
                <div class="col-md-6">
                  <label for="c_email_address" class="text-black"
                    >Địa chỉ Email <span class="text-danger">*</span></label
                  >
                  <input type="text" class="form-control" id="c_email_address" name="c_email_address" />
                </div>
                <div class="col-md-6">
                  <label for="c_phone" class="text-black">Số điện thoại <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="" />
                </div>
              </div>

              <div class="form-group">
                <label for="c_order_notes" class="text-black">Chi chú</label>
                <textarea
                  name="c_order_notes"
                  id="c_order_notes"
                  cols="30"
                  rows="5"
                  class="form-control"
                  placeholder=""
                ></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Mã giảm giá</h2>
                <div class="p-3 p-lg-5 border bg-white">
                  <label for="c_code" class="text-black mb-3">Nhập mã giảm giá (nếu có).</label>
                  <div class="row">

                      <div class="col-6">
                        <input
                          type="text"
                          class="form-control me-2"
                          id="c_code"
                          placeholder="Coupon Code"
                          aria-label="Coupon Code"
                          aria-describedby="button-addon2"
                        />
                      </div>
  
                      <div class="col-6">
                        <div class="input-group-append">
                          <button class="btn btn-black btn-sm" type="button" id="button-addon2">Áp dụng mã</button>
                        </div>
                      
                  </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Đơn hàng</h2>
                <div class="p-3 p-lg-5 border bg-white">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <th>Sản phẩm</th>
                      <th>Tổng</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Liên Hoa Ngự Trà <strong class="mx-2">x</strong> 1</td>
                        <td>249.00</td>
                      </tr>
                      <tr>
                        <td>Gạo Lứt Thất Tinh Hoa<strong class="mx-2">x</strong> 2</td>
                        <td>249.00</td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold">
                          <strong>Tạm tính</strong>
                        </td>
                        <td class="text-black">500.00</td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold">
                          <strong>Tổng đơn hàng</strong>
                        </td>
                        <td class="text-black font-weight-bold">
                          <strong>489.00</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  
                  <div class="row">
                    <div class="p-3 mb-3">
                      <div class="input-group-append">
                        <button class="btn btn-black btn-sm" type="button" id="button-addon2">COD</button>
                      </div>
                    </div>

                    <div class="p-3 mb-3">
                      <div class="input-group-append">
                        <button class="btn btn-black btn-sm" type="button" id="button-addon2">PayPal</button>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <button class="btn btn-black btn-lg py-3 btn-block" onclick="window.location='thankyou.html'">
                      Thanh toán
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>

    <!-- Footer Section Begin -->
    <footer class="footer-section">
      <div class="container">
        <div class="footer-text">
          <div class="row">
            <div class="col-lg-4">
              <div class="ft-about">
                <div class="logo">
                  <a href="#">
                    <img src="img/logo.png" alt="" />
                  </a>
                </div>
                <p>
                  Yên Trà Quán với những tâm hồn tự tại đã trót yêu mẹ thiên nhiên say đắm, mong muốn được dùng các loại
                  thảo mộc chữa lành cho tất cả mọi người. Sản phẩm của Yên Trà có thành phần từ tự nhiên, được chế biến
                  hoàn toàn bằng công nghệ sấy lạnh, không chứa chất bảo quản và rất lành tính. Với mỗi sản phẩm bán ra
                  đã trải qua bao lần thử nghiệm, các khâu chế biến, sản xuất nghiêm ngặt để cho ra một hộp trà chất
                  lượng đến được tay khách hàng.
                </p>
                <div class="fa-social">
                  <a href="https://www.facebook.com/yentraquan22"><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a
                    href="https://www.instagram.com/yen_tra_quan?fbclid=IwAR02bTLIYQdy1fqupsAPNc_2UkxzAIr7Ui59Qmkzi3-l6RPKh0x7deDCMo8"
                    ><i class="fa fa-instagram"></i
                  ></a>
                  <a href="#"><i class="fa fa-youtube-play"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
              <div class="ft-contact">
                <h6>Liên hệ</h6>
                <ul>
                  <li>0123456789</li>
                  <li>yentraquan@gmail.com</li>
                  <li>227 Nguyen Van Cuu, Ward 4, <br />District 5, HCMc</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
              <div class="ft-newslatter">
                <h6>Thông tin mới nhất</h6>
                <p>Cập nhật những ưu đãi và thông tin mới.</p>
                <form action="#" class="fn-form">
                  <input type="text" placeholder="Email" />
                  <button type="submit"><i class="fa fa-send"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-option">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <ul>
                <li><a href="#">Chính sách bán hàng</a></li>
                <li><a href="#">Chính sách thanh toán</a></li>
                <li><a href="#">Chính sách bảo hành</a></li>
                <li><a href="#">Điều khoản dịch vụ</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
