<html lang='zxx'>

<head>
    <meta charset='UTF-8' />
    <meta name='description' content='WanderStay' />
    <meta name='keywords' content='unica, creative' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Yên Trà Quán</title>

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700&display=swap' rel='stylesheet' />
    <link href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap' rel='stylesheet' />

    <!-- Css Styles -->
    <link rel='stylesheet' href='css/bootstrap.min.css' type='text/css' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' />
    <link rel='stylesheet' href='css/elegant-icons.css' type='text/css' />
    <link rel='stylesheet' href='css/flaticon.css' type='text/css' />
    <link rel='stylesheet' href='css/owl.carousel.min.css' type='text/css' />
    <link rel='stylesheet' href='css/nice-select.css' type='text/css' />
    <link rel='stylesheet' href='css/jquery-ui.min.css' type='text/css' />
    <link rel='stylesheet' href='css/magnific-popup.css' type='text/css' />
    <link rel='stylesheet' href='css/slicknav.min.css' type='text/css' />
    <link rel='stylesheet' href='css/style.css' type='text/css' />
</head>

<body>
    <!-- Page Preloder -->
    <div id='preloder'>
        <div class='loader'></div>
    </div>

    <!-- Header Section Begin -->
    <header class='header-section header-normal'>
        <div class='top-nav'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-6'></div>
                </div>
            </div>
        </div>
        <div class='menu-item'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-2'>
                        <div class='logo'>
                            <a href='/'>
                                <img src='img/logo.png' alt='' />
                            </a>
                        </div>
                    </div>
                    <div class='col-lg-10'>
                        <div class='nav-menu'>
                            <nav class='mainmenu'>
                                <ul>
                                    <li><a href='/'>Trang chủ</a></li>
                                    <li><a href='/about-us'>Về chúng tôi</a></li>
                                    <li>
                                        <a href='/pages?page=0'>Sản phẩm</a>
                                        <ul class='dropdown'>
                                            <li><a href='/pages?page=0&categoryId=f4c74a06-4cb7-477d-b204-ff40143e9b06'>Phong
                                                    Vị Yên Trà</a></li>
                                            <li><a href='/pages?page=0&categoryId=20ee69be-bde2-426c-9eeb-622736cad446'>Hoa
                                                    Cỏ Dưỡng Tâm</a></li>
                                            <li><a href='/pages?page=0&categoryId=52aaf74e-736a-4c08-826e-c7b6562f1d20'>Thảo
                                                    Mộc Nhiệt Đới</a></li>
                                            <li><a href='/pages?page=0&categoryId7e7dd67f-208b-4c64-b99f-d1e9c7b60274'>Yên
                                                    An Ngự Trà</a></li>
                                        </ul>
                                    </li>
                                    <li><a href='/contact'>Liên hệ</a></li>
                                    <li class='active'>
                                        <a href='/cart' style='color: #0650c2'><img href='/cart'
                                                style='color: #333333; width: 20px; ' src='./img/cart-shopping.svg'
                                                alt='' /></a>
                                    </li>
                                    {{#if isLoggedIn}}
                                    <li>
                                        <img style='color: #333333; width: 20px; ' src='./img/user-profile.svg'
                                            alt='' />
                                        {{customerName}}
                                        <ul class='dropdown'>
                                            <li><a href='/profile'><img style='width: 20px' src='/img/user.png' />
                                                    Trang cá nhân</a></li>
                                            <li><a href='/change-password'><img style='width: 20px'
                                                        src='/img/key.svg' />
                                                    Đổi mật khẩu</a></li>
                                            <li><a href='/logout'><img style='width: 20px' src='/img/log-out.svg' />
                                                    Đăng xuất</a></li>
                                        </ul>
                                    </li>
                                    {{else}}
                                    <li><a href='/login' style='color: #0650c2'>Đăng nhập</a></li>
                                    <li><a href='/sign-up' style='color: #0650c2'>Tạo tài khoản</a></li>
                                    {{/if}}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <div class='untree_co-section'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-6 mb-5 mb-md-0'>
                    <h2 class='h3 mb-3 text-black'>Chi tiết đơn hàng</h2>
                    <div class='p-3 p-lg-5 border bg-white'>

                        <div class='form-group row'>
                            <div class='col-md-12'>
                                <label for='c_companyname' class='text-black'>Địa chỉ cụ thể (Số nhà, Tên đường)<span
                                        class='text-danger'>*</span></label>
                                <input type='text' class='form-control' id='street' name='c_companyname' required />
                            </div>
                        </div>

                        <div class='form-group row'>
                            <div class='col-md-12'>
                                <label for='c_address' class='text-black'>Xã/Phường<span
                                        class='text-danger'>*</span></label>
                                <input type='text' class='form-control' id='ward' name='c_address'
                                    placeholder='Tên đường' required />
                            </div>
                        </div>

                        <div class='form-group row'>
                            <div class='col-md-6'>
                                <label for='c_state_country' class='text-black'>Quận/Huyện<span
                                        class='text-danger'>*</span></label>
                                <input type='text' class='form-control' id='district' name='c_state_country' />
                            </div>
                            <div class='col-md-6'>
                                <label for='c_postal_zip' class='text-black'>Thành phố<span
                                        class='text-danger'>*</span></label>
                                <input type='text' class='form-control' id='city' name='c_postal_zip' />
                            </div>
                        </div>

                        <div class='form-group row mb-5'>
                            <div class='col-md'>
                                <label for='c_phone' class='text-black'>Số điện thoại
                                    <span class='text-danger'>*</span></label>
                                <input type='text' class='form-control' id='c_phone' name='c_phone' placeholder='' />
                            </div>
                        </div>

                        <div class='form-group'>
                            <label for='c_order_notes' class='text-black'>Chi chú</label>
                            <textarea name='c_order_notes' id='c_order_notes' cols='30' rows='5' class='form-control'
                                placeholder=''></textarea>
                        </div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class='row mb-5'>
                        <div class='col-md-12'>
                            <h2 class='h3 mb-3 text-black'>Đơn hàng</h2>
                            <div class='p-3 p-lg-5 border bg-white'>
                                <table class='table site-block-order-table mb-5'>
                                    <thead>
                                        <th>Sản phẩm</th>
                                        <th>Tổng</th>
                                    </thead>
                                    <tbody>
                                    <tbody class='cart-body'>
                                        <tr>
                                            <td>Liên Hoa Ngự Trà <strong class='mx-2'>x</strong> 1</td>
                                            <td>249.00</td>
                                        </tr>
                                    </tbody>

                                    <tr>
                                        <td class='text-black font-weight-bold'>
                                            <strong>Tạm tính</strong>
                                        </td>
                                        <td class='text-black' id="sumCart1">500.00</td>
                                    </tr>
                                    <tr>
                                        <td class='text-black font-weight-bold'>
                                            <strong>Tổng đơn hàng</strong>
                                        </td>
                                        <td class='text-black'><strong id="sumCart2"> </strong></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class='row'>
                                    <div class='p-3 mb-3'>
                                        <div class='input-group-append'>
                                            <button class='btn btn-black btn-sm' type='button'
                                                id='codButton'>COD</button>
                                        </div>
                                    </div>

                                    <div class='p-3 mb-3'>
                                        <div class='input-group-append'>
                                            <button class='btn btn-black btn-sm' type='button'
                                                id='vnpayButton'>VNPay</button>
                                        </div>
                                    </div>
                                </div>


                                <div class='form-group'>
                                    <button class='btn btn-black btn-lg py-3 btn-block' onclick="submitForm()">
                                        Thanh toán
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>

    <!-- Footer Section Begin -->
    <footer class='footer-section'>
        <div class='container'>
            <div class='footer-text'>
                <div class='row'>
                    <div class='col-lg-4'>
                        <div class='ft-about'>
                            <div class='logo'>
                                <a href='#'>
                                    <img src='img/logo.png' alt='' />
                                </a>
                            </div>
                            <p>
                                Yên Trà Quán với những tâm hồn tự tại đã trót yêu mẹ thiên nhiên say đắm, mong muốn
                                được dùng các loại thảo mộc chữa lành cho tất cả mọi người. Sản phẩm của Yên Trà có
                                thành phần từ tự nhiên, được chế biến hoàn toàn bằng công nghệ sấy lạnh, không chứa
                                chất bảo quản và rất lành tính. Với mỗi sản phẩm bán ra đã trải qua bao lần thử
                                nghiệm, các khâu chế biến, sản xuất nghiêm ngặt để cho ra một hộp trà chất lượng đến
                                được tay khách hàng.
                            </p>
                        </div>
                    </div>
                    <div class='col-lg-3 offset-lg-1'>
                        <div class='ft-contact'>
                            <h6>Liên hệ</h6>
                            <ul>
                                <li>0123456789</li>
                                <li>yentraquan@gmail.com</li>
                                <li>227 Nguyen Van Cuu, Ward 4, <br />District 5, HCMc</li>
                            </ul>
                        </div>
                    </div>
                    <div class='col-lg-3 offset-lg-1'>
                        <div class='ft-newslatter'>
                            <h6>Thông tin mới nhất</h6>
                            <p>Cập nhật những ưu đãi và thông tin mới.</p>
                            <form action='#' class='fn-form'>
                                <input type='text' placeholder='Email' />
                                <button type='submit'><i class='fa fa-send'></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='copyright-option'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-12'>
                        <ul>
                            <li><a href='#'>Chính sách bán hàng</a></li>
                            <li><a href='#'>Chính sách thanh toán</a></li>
                            <li><a href='#'>Chính sách bảo hành</a></li>
                            <li><a href='#'>Điều khoản dịch vụ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src='js/jquery-3.3.1.min.js'></script>
    <script src='js/bootstrap.min.js'></script>
    <script src='js/jquery.magnific-popup.min.js'></script>
    <script src='js/jquery.nice-select.min.js'></script>
    <script src='js/jquery-ui.min.js'></script>
    <script src='js/jquery.slicknav.js'></script>
    <script src='js/owl.carousel.min.js'></script>
    <script src='js/main.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', async function () {
            handleButtonClick('codButton');
            await loadProduct();
        })

        let currentButtonId = 'codButton';

        function handleButtonClick(buttonId) {
            if (currentButtonId) {
                document.getElementById(currentButtonId).style.backgroundColor = '';
            }
            document.getElementById(buttonId).style.backgroundColor = 'green';
            currentButtonId = buttonId;
        }

        document.getElementById('codButton').addEventListener('click', function () {
            handleButtonClick('codButton');
        });

        document.getElementById('vnpayButton').addEventListener('click', function () {
            handleButtonClick('vnpayButton');
        });

        async function loadProduct() {
            const url = `http://localhost:8080/api/cart/get-cart`
            const accessToken = getCookie("accessToken")
            const refreshToken = getCookie("refreshToken")
            const headers = {
                authorization: accessToken,
                'refresh-token': refreshToken
            }

            let sumCartPro = 0
            await axios.get(url, { headers }).then(response => {
                let products = []
                products = response.data.data
                const $product_table = $(".cart-body");
                $product_table.html("");
                products.forEach((item, index) => {
                    const sumProduct = item.product.price * item.quantity
                    sumCartPro += sumProduct * 1
                    const html = `<tr>
                                <td>${item.product.name}<strong class='mx-2'>x</strong> ${item.quantity}</td>
                                <td>${sumProduct} VNĐ</td>
                                            </tr>`
                    $product_table.append($.parseHTML(html));
                })
            })
            document.getElementById('sumCart1').innerHTML = sumCartPro + " VNĐ"
            document.getElementById('sumCart2').innerHTML = sumCartPro + " VNĐ"
        }

        function getCookie(name) {
            const match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
            if (match) {
                return decodeURIComponent(match[2]);
            }
            return null;
        }


        async function submitForm() {
            // Create a form element
            var form = document.createElement('form');
            const totalCart = document.getElementById('sumCart1').textContent.match(/\d+/) * 1

            // Create input for username
            var shippingInput = document.createElement('input');
            shippingInput.type = 'text';
            shippingInput.name = 'shippingAddress';
            shippingInput.value = document.getElementById('street').value + ', ' + document.getElementById('ward').value + ', ' + document.getElementById('district').value + ', ' + document.getElementById('city').value;
            form.appendChild(shippingInput);

            const url = `http://localhost:8080/api/cart/get-cart`
            const accessToken = getCookie("accessToken")
            const refreshToken = getCookie("refreshToken")
            const headers = {
                authorization: accessToken,
                'refresh-token': refreshToken
            }

            let productOrigin = []
            await axios.get(url, { headers }).then(response => {
                products = response.data.data;

                products.forEach((item, index) => {
                    const product = {
                        productName: item.product.name,
                        productImage: item.product.image.url[0],
                        quantity: item.quantity,
                        price: item.product.price
                    }
                    productOrigin.push(product)
                })



            })
            document.body.appendChild(form);

            const data = {
                shippingAddress: shippingInput.value,
                productOrigin: productOrigin,
                total: totalCart

            }

            if (currentButtonId == 'codButton') {
                await axios.post(`http://localhost:8080/api/order/create-order`, data, { headers }).then(response => {
                    const order = response.data.data;
                    const amount = document.getElementById('sumCart1').textContent.match(/\d+/) * 1
                    let paymentUrl = '/api/payment//cod_payment?amount=' + amount + '&orderId=' + order.id
                    window.location.href = paymentUrl
                })
                return
            }

            await axios.post(`http://localhost:8080/api/order/create-order`, data, { headers }).then(response => {
                const order = response.data.data;
                const amount = document.getElementById('sumCart1').textContent.match(/\d+/) * 1
                let paymentUrl = '/payment/pay?amount=' + amount + '&order_Id=' + order.id
                if (currentButtonId == 'vnpayButton') {
                    window.location.href = paymentUrl
                }
            })
        }
    </script>
</body>

</html>