<html lang='zxx'>
    <head>
        <meta charset='UTF-8' />
        <meta name='description' content='WanderStay' />
        <meta name='keywords' content='unica, creative' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <meta http-equiv='X-UA-Compatible' content='ie=edge' />
        <title>Yên Trà Quán</title>

        <!-- Google Font -->
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700&display=swap' rel='stylesheet' />
        <link href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap' rel='stylesheet' />

        <!-- Css Styles -->
        <link rel='stylesheet' href='css/bootstrap.min.css' type='text/css' />
        <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' />
        <link rel='stylesheet' href='css/elegant-icons.css' type='text/css' />
        <link rel='stylesheet' href='css/flaticon.css' type='text/css' />
        <link rel='stylesheet' href='css/owl.carousel.min.css' type='text/css' />
        <link rel='stylesheet' href='css/nice-select.css' type='text/css' />
        <link rel='stylesheet' href='css/jquery-ui.min.css' type='text/css' />
        <link rel='stylesheet' href='css/magnific-popup.css' type='text/css' />
        <link rel='stylesheet' href='css/slicknav.min.css' type='text/css' />
        <link rel='stylesheet' href='css/style.css' type='text/css' />
    </head>

    <body>
        <!-- Page Preloder -->
        <div id='preloder'>
            <div class='loader'></div>
        </div>

        <!-- Header Section Begin -->
        <header class='header-section header-normal'>
            <div class='top-nav'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-lg-6'></div>
                    </div>
                </div>
            </div>

            <div class='menu-item'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-lg-2'>
                            <div class='logo'>
                                <a href='/'>
                                    <img src='img/logo.png' alt='' />
                                </a>
                            </div>
                        </div>
                        <div class='col-lg-10'>
                            <div class='nav-menu'>
                                <nav class='mainmenu'>
                                    <ul>
                                        <li><a href='/'>Trang chủ</a></li>
                                        <li><a href='/about-us'>Về chúng tôi</a></li>
                                        <li>
                                            <a href='/pages'>Sản phẩm</a>
                                            <ul class='dropdown'>
                                                <li><a href='/phong-vi-yen-tra'>Phong Vị Yên Trà</a></li>
                                                <li><a href='/hoa-co-duong-tam'>Hoa Cỏ Dưỡng Tâm</a></li>
                                                <li><a href='/thao-moc-nhiet-doi'>Thảo Mộc Nhiệt Đới</a></li>
                                                <li><a href='/yen-an-ngu-tra'>Yên An Ngự Trà</a></li>
                                            </ul>
                                        </li>
                                        <li  class='active'><a href='/contact'>Liên hệ</a></li>

                                        <li><a href='/login' style='color: #0650c2'>Đăng nhập</a></li>
                                        <li><a href='/sign-up' style='color: #0650c2'>Tạo tài khoản</a></li>
                                    </ul>
                                </nav>
                                <div class='nav-right search-switch'>
                                    <a href='/cart' style='color: #0650c2'><img
                                            href='/cart'
                                            style='color: #333333; width: 20px'
                                            src='./img/grocery-store.png'
                                            alt=''
                                        /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->

        <!-- intro-page Section Begin -->
        <div class='intro-page-section'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-12'>
                        <div class='intro-page-text'>
                            <h2 style='color: #fac26b'>LIÊN HỆ</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- intro-page Section End -->

    <!-- Start Contact Form -->
    <div class="untree_co-section">
      <div class="container">
        <div class="row">
          <div style="padding: 30px" class="col-3">
            
            <div class="row">
              <div
                class="service no-shadow align-items-center link horizontal d-flex active"
                data-aos="fade-left"
                data-aos-delay="0"
              >
                <div class="center-submit service-icon color-1 mb-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-geo-alt-fill"
                    viewBox="0 0 16 16"
                  >
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                  </svg>
                </div>
                <div class="service-contents">
                  <p>227 Nguyen Van Cu, W4, D5, HCMc</p>
                </div>
              </div>
            </div>

            <div class="row">
              
              <div
                class="service no-shadow align-items-center link horizontal d-flex active"
                data-aos="fade-left"
                data-aos-delay="0"
              >
                <div class="center-submit service-icon color-1 mb-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-envelope-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"
                    />
                  </svg>
                </div>
                <div class="service-contents">
                  <p>yentraquan@gmail.com</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div
                class="service no-shadow align-items-center link horizontal d-flex active"
                data-aos="fade-left"
                data-aos-delay="0"
              >
                <div class="center-submit service-icon color-1 mb-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-telephone-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
                    />
                  </svg>
                </div>
                <div class="service-contents">
                  <p>+84000999011</p>
                </div>
              </div>
            </div>

            <div class="row">
              <img style="width: 60%" src="./img/wanderstay-login.gif" alt="" />
            </div>
          </div>
          <div class="col-9">
            <div class="block">
              <div class="row justify-content-center">
                <div class="col-md-8 col-lg-8 pb-4">
                  <div class="row"></div>
                  <div class="col-lg-4"></div>

                  <div class="col"></div>

                  <form>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label class="text-black" for="fname">Họ và Tên</label>
                          <input type="text" class="form-control" id="fname" />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="text-black" for="email">Địa chỉ email</label>
                      <input type="email" class="form-control" id="email" />
                    </div>

                    <div class="form-group mb-5">
                      <label class="text-black" for="message">Lời nhắn</label>
                      <textarea name="" class="form-control" id="message" cols="30" rows="5"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary-hover-outline">Gửi thông tin</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Contact Form -->

        <!-- Footer Section Begin -->
        <footer class='footer-section'>
            <div class='container'>
                <div class='footer-text'>
                    <div class='row'>
                        <div class='col-lg-4'>
                            <div class='ft-about'>
                                <div class='logo'>
                                    <a href='#'>
                                        <img class='img-logo' src='img/logo.png' alt='' />
                                    </a>
                                </div>
                                <p>
                                    Yên Trà Quán với những tâm hồn tự tại đã trót yêu mẹ thiên nhiên say đắm, mong muốn
                                    được dùng các loại thảo mộc chữa lành cho tất cả mọi người.
                                </p>
                                <div class='fa-social'>
                                    <a href='https://www.facebook.com/yentraquan22'><i class='fa fa-facebook'></i></a>
                                    <a href=''><i class='fa fa-twitter'></i></a>
                                    <a
                                        href='https://www.instagram.com/yen_tra_quan?fbclid=IwAR02bTLIYQdy1fqupsAPNc_2UkxzAIr7Ui59Qmkzi3-l6RPKh0x7deDCMo8'
                                    ><i class='fa fa-instagram'></i></a>
                                    <a href='#'><i class='fa fa-youtube-play'></i></a>
                                </div>
                            </div>
                        </div>
                        <div class='col-lg-3 offset-lg-1'>
                            <div class='ft-contact'>
                                <h6>Liên hệ</h6>
                                <ul>
                                    <li>0123456789</li>
                                    <li>yentraquan@gmail.com</li>
                                    <li>227 Nguyen Van Cuu, Ward 4, <br />District 5, HCMc</li>
                                </ul>
                            </div>
                        </div>
                        <div class='col-lg-3 offset-lg-1'>
                            <div class='ft-newslatter'>
                                <h6>Thông tin mới nhất</h6>
                                <p>Cập nhật những ưu đãi và thông tin mới.</p>
                                <form action='#' class='fn-form'>
                                    <input type='text' placeholder='Email' />
                                    <button type='submit'><i class='fa fa-send'></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='copyright-option'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-lg-12'>
                            <ul>
                                <li><a href='#'>Chính sách bán hàng</a></li>
                                <li><a href='#'>Chính sách thanh toán</a></li>
                                <li><a href='#'>Chính sách bảo hành</a></li>
                                <li><a href='#'>Điều khoản dịch vụ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->

        <!-- Js Plugins -->
        <script src='js/jquery-3.3.1.min.js'></script>
        <script src='js/bootstrap.min.js'></script>
        <script src='js/jquery.magnific-popup.min.js'></script>
        <script src='js/jquery.nice-select.min.js'></script>
        <script src='js/jquery-ui.min.js'></script>
        <script src='js/jquery.slicknav.js'></script>
        <script src='js/owl.carousel.min.js'></script>
        <script src='js/main.js'></script>
    </body>
</html>