<!doctype html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Sona Template" />
        <meta name="keywords" content="Sona, unica, creative, html" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Yên Trà Quán</title>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet" />

        <!-- Css Styles -->
        <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="../../assets/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="../../assets/css/elegant-icons.css" type="text/css" />
        <link rel="stylesheet" href="../../assets/css/flaticon.css" type="text/css" />
        <link rel="stylesheet" href="../../assets/css/owl.carousel.min.css" type="text/css" />
        <link rel="stylesheet" href="../../assets/css/nice-select.css" type="text/css" />
        <link rel="stylesheet" href="../../assets/css/jquery-ui.min.css" type="text/css" />
        <link rel="stylesheet" href="../../assets/css/magnific-popup.css" type="text/css" />
        <link rel="stylesheet" href="../../assets/css/slicknav.min.css" type="text/css" />
        <link rel="stylesheet" href="../../assets/css/style.css" type="text/css" />
        <script src="https://kit.fontawesome.com/3372d384eb.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
            -
        </div>

        <!-- Header Section Begin -->
        <header class="header-section header-normal">
            <div class="top-nav">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6"></div>
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="logo">
                                <a href="./index.html">
                                    <img src="../../assets/img/logo.png" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="nav-menu">
                                <nav class="mainmenu">
                                    <ul>
                                        <li class="active"><a href="./index.html">Trang chủ</a></li>
                                        <li><a href="/aboutus">Về chúng tôi</a></li>
                                        <li>
                                            <a href="./pages.html">Sản phẩm</a>
                                            <ul class="dropdown">
                                                <li><a href="./room-details.html">Trà hoa</a></li>
                                                <li><a href="./blog-details.html">Trà thảo mộc</a></li>
                                                <li><a href="#">Trà sen</a></li>
                                                <li><a href="#">Bột sấy lạnh</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="./contact.html">Liên hệ</a></li>

                                        <li><a href="./login.html" style="color: #0650c2">Đăng nhập</a></li>
                                        <li><a href="./sign-up.html" style="color: #0650c2">Tạo tài khoản</a></li>
                                    </ul>
                                </nav>
                                <div class="nav-right search-switch">
                                    <img
                                        style="color: #333333; width: 20px"
                                        src="../../assets/img/grocery-store.png"
                                        alt=""
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->

        <!-- Hero Section Begin -->
        <section class="hero-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero-text">
                            <h1>YÊN TRÀ QUÁN</h1>
                            <p>
                                Yên Trà Quán với những tâm hồn tự tại đã trót yêu mẹ thiên nhiên say đắm, mong muốn được
                                dùng các loại thảo mộc chữa lành cho tất cả mọi người.
                            </p>
                            <a href="#" class="primary-btn">Khám phá ngay!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slider owl-carousel">
                <div class="hs-item set-bg" data-setbg="../../assets/img/hero/hero-2.jpg"></div>
                <div class="hs-item set-bg" data-setbg="../../assets/img/hero/hero-1.jpg"></div>
                <div class="hs-item set-bg" data-setbg="../../assets/img/hero/hero-3.jpg"></div>
            </div>
        </section>
        <!-- Hero Section End -->

        <!-- About Us Section Begin -->
        <section class="aboutus-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-text">
                            <div class="section-title">
                                <span>Về chúng tôi</span>
                                <h2>Yên Trà Quán</h2>
                            </div>
                            <p class="f-para">
                                Yên Trà Quán được thành lập từ tháng 3 năm 2021, tiệm được lập nên chỉ với mục đích duy
                                nhất là thoả mãn đam mê bán trà, cũng như giúp cho mọi người được tiếp cận với các loại
                                trà dễ hơn.
                            </p>
                            <p class="s-para">
                                Với mỗi loại trà bán ra, tiệm chúng tôi đã trải qua bao lần thử nghiệm, cũng như đảm bảo
                                tất cả các khâu chế biến, sản xuất để có được một hộp trà đảm bảo chất lượng. Với chúng
                                tôi, sản phẩm đúng chất lượng đến được tay khách hàng là một sự thành công.
                            </p>
                            <a href="about-us.html" class="primary-btn about-btn">Đọc thêm</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-pic">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="../../assets/img/about/about-1.jpg" alt="" />
                                </div>
                                <div class="col-sm-6">
                                    <img src="img/about/about-2.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Us Section End -->

        <section class="product-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <span>Sản phẩm</span>
                            <h2>Trà thảo mộc ngon mỗi ngày</h2>
                        </div>
                    </div>
                </div>

                <div style="padding: 10px" class="row">
                    <!-- Start Column 4 -->
                    <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                        <a class="product-item" href="cart.html">
                            <img src="../../assets/img/product/product_1.jpg" class="img-fluid product-thumbnail" />
                            <h3 class="product-title">Liên Hoa Ngự Trà</h3>
                            <strong class="product-price">$43.00</strong>

                            <span class="icon-cross">
                                <img src="../../assets/img/cross.svg" class="img-fluid" />
                            </span>
                        </a>
                    </div>
                    <!-- End Column 4 -->

                    <!-- Start Column 2 -->
                    <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                        <a class="product-item" href="cart.html">
                            <img src="../../assets/img/product/product_2.jpg" class="img-fluid product-thumbnail" />
                            <h3 class="product-title">Trà Gạo Lứt Thất Tinh Hoa</h3>
                            <strong class="product-price">$50.00</strong>

                            <span class="icon-cross">
                                <img src="../../assets/img/cross.svg" class="img-fluid" />
                            </span>
                        </a>
                    </div>
                    <!-- End Column 2 -->

                    <!-- Start Column 3 -->
                    <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                        <a class="product-item" href="cart.html">
                            <img src="../../assets/img/product/product_3.jpg" class="img-fluid product-thumbnail" />
                            <h3 class="product-title">Hibiscus Cam Quế</h3>
                            <strong class="product-price">$78.00</strong>

                            <span class="icon-cross">
                                <img src="../../assets/img/cross.svg" class="img-fluid" />
                            </span>
                        </a>
                    </div>
                    <!-- End Column 3 -->

                    <!-- Start Column 4 -->
                    <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                        <a class="product-item" href="cart.html">
                            <img src="../../assets/img/product/product_4.jpg" class="img-fluid product-thumbnail" />
                            <h3 class="product-title">Trà An Yên Ngủ Ngon</h3>
                            <strong class="product-price">$43.00</strong>

                            <span class="icon-cross">
                                <img src="../../assets/img/cross.svg" class="img-fluid" />
                            </span>
                        </a>
                    </div>
                    <!-- End Column 4 -->
                    <div class="row">
                        <a style="margin-top: 10px; color: #333333" href="index.html" class="primary-btn"
                            >Khám phá ngay!</a
                        >
                    </div>
                </div>
            </div>
        </section>

        <!-- Services Section End -->
        <section class="services-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <span>Mục tiêu hoạt động</span>
                            <h2>Yên Trà Quán khỏe đẹp từ thiên nhiên</h2>
                            <p>
                                Cách đây khoảng 3 năm, Tiệm trà An Nhiên với những tâm hồn tự tại đã trót yêu mẹ thiên
                                nhiên say đắm, mong muốn được dùng các loại thảo mộc chữa lành cho tất cả mọi người. Sản
                                phẩm của An Nhiên có thành phần từ tự nhiên, được chế biến hoàn toàn bằng công nghệ sấy
                                lạnh, không chứa chất bảo quản và rất lành tính. Với mỗi sản phẩm bán ra đã trải qua bao
                                lần thử nghiệm, các khâu chế biến, sản xuất nghiêm ngặt để cho ra một hộp trà chất lượng
                                đến được tay khách hàng.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="service-item">
                            <i class="flaticon-036-parking"></i>
                            <h4>Chất lượng là tiêu chí đi đầu.</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="service-item">
                            <i class="flaticon-036-parking"></i>
                            <h4>Cam kết 100% nguồn gốc xuất xứ.</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="service-item">
                            <i class="flaticon-036-parking"></i>
                            <h4>Thân thiện hướng tới cộng đồng.</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="service-item">
                            <i class="flaticon-036-parking"></i>
                            <h4>Khách hàng nói Quán lắng nghe.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services Section End -->

        <!-- Blog Section Begin -->
        <section class="blog-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <span>News</span>
                            <h2>Our Blog & Event</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-item small-size set-bg" data-setbg="../../assets/img/product/product_1.jpg">
                            <div class="bi-text">
                                <span class="b-tag">Sức khỏe</span>
                                <h4><a href="#">Lợi ích của hoa sen</a></h4>
                                <div class="b-time"><i class="icon_clock_alt"></i>20/11/2022</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-item small-size set-bg" data-setbg="../../assets/img/about-2.jpg">
                            <div class="bi-text">
                                <span class="b-tag">Công dụng</span>
                                <h4><a href="#">Hoa nhài</a></h4>
                                <div class="b-time"><i class="icon_clock_alt"></i> 12/04/2019</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Section End -->

        <!-- Footer Section Begin -->
        <footer class="footer-section">
            <div class="container">
                <div class="footer-text">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="ft-about">
                                <div class="logo">
                                    <a href="#">
                                        <img class="img-logo" src="img/logo.png" alt="" />
                                    </a>
                                </div>
                                <p>
                                    Yên Trà Quán với những tâm hồn tự tại đã trót yêu mẹ thiên nhiên say đắm, mong muốn
                                    được dùng các loại thảo mộc chữa lành cho tất cả mọi người.
                                </p>
                                <div class="fa-social">
                                    <a href="https://www.facebook.com/yentraquan22"><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a
                                        href="https://www.instagram.com/yen_tra_quan?fbclid=IwAR02bTLIYQdy1fqupsAPNc_2UkxzAIr7Ui59Qmkzi3-l6RPKh0x7deDCMo8"
                                        ><i class="fa fa-instagram"></i
                                    ></a>
                                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-1">
                            <div class="ft-contact">
                                <h6>Liên hệ</h6>
                                <ul>
                                    <li>0123456789</li>
                                    <li>yentraquan@gmail.com</li>
                                    <li>227 Nguyen Van Cuu, Ward 4, <br />District 5, HCMc</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-1">
                            <div class="ft-newslatter">
                                <h6>Thông tin mới nhất</h6>
                                <p>Cập nhật những ưu đãi và thông tin mới.</p>
                                <form action="#" class="fn-form">
                                    <input type="text" placeholder="Email" />
                                    <button type="submit"><i class="fa fa-send"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-option">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul>
                                <li><a href="#">Chính sách bán hàng</a></li>
                                <li><a href="#">Chính sách thanh toán</a></li>
                                <li><a href="#">Chính sách bảo hành</a></li>
                                <li><a href="#">Điều khoản dịch vụ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->

        <!-- Js Plugins -->
        <script src="../../assets/js/jquery-3.3.1.min.js"></script>
        <script src="../../assets/js/bootstrap.min.js"></script>
        <script src="../../assets/js/jquery.magnific-popup.min.js"></script>
        <script src="../../assets/js/jquery.nice-select.min.js"></script>
        <script src="../../assets/js/jquery-ui.min.js"></script>
        <script src="../../assets/js/jquery.slicknav.js"></script>
        <script src="../../assets/js/owl.carousel.min.js"></script>
        <script src="../../assets/js/main.js"></script>
    </body>
</html>
