<html lang='zxx'>

<head>
    <meta charset='UTF-8' />
    <meta name='description' content='Sona Template' />
    <meta name='keywords' content='Sona, unica, creative, html' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Yên Trà Quán</title>
    <link rel='icon' type='image/x-icon' href='img/favicon.png' />

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700&display=swap' rel='stylesheet' />
    <link href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap' rel='stylesheet' />

    <!-- Css Styles -->
    <link rel='stylesheet' href='css/bootstrap.min.css' type='text/css' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' />
    <link rel='stylesheet' href='css/elegant-icons.css' type='text/css' />
    <link rel='stylesheet' href='css/flaticon.css' type='text/css' />
    <link rel='stylesheet' href='css/owl.carousel.min.css' type='text/css' />
    <link rel='stylesheet' href='css/nice-select.css' type='text/css' />
    <link rel='stylesheet' href='css/jquery-ui.min.css' type='text/css' />
    <link rel='stylesheet' href='css/magnific-popup.css' type='text/css' />
    <link rel='stylesheet' href='css/slicknav.min.css' type='text/css' />
    <link rel='stylesheet' href='css/style.css' type='text/css' />
    <script src='https://kit.fontawesome.com/3372d384eb.js' crossorigin='anonymous'></script>


</head>

<body>
    <!-- Page Preloder -->
    <div id='preloder'>
        <div class='loader'></div>-
    </div>

    <!-- Header Section Begin -->
    <header class='header-section header-normal'>
        <div class='top-nav'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-6'></div>
                </div>
            </div>
        </div>
        <div class='menu-item'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-2'>
                        <div class='logo'>
                            <a href='/'>
                                <img src='img/logo.png' alt='' />
                            </a>
                        </div>
                    </div>
                    <div class='col-lg-8'>
                        <div class='nav-menu'>
                            <nav class='mainmenu'>
                                <ul>
                                    <li class='active'><a href='/'>Trang chủ</a></li>
                                    <li><a href='/about-us'>Về chúng tôi</a></li>
                                    <li>
                                        <a href='/pages'>Sản phẩm</a>
                                        <ul class='dropdown'>
                                            <li><a href='/phong-vi-yen-tra'>Phong Vị Yên Trà</a></li>
                                            <li><a href='/hoa-co-duong-tam'>Hoa Cỏ Dưỡng Tâm</a></li>
                                            <li><a href='/thao-moc-nhiet-doi'>Thảo Mộc Nhiệt Đới</a></li>
                                            <li><a href='/yen-an-ngu-tra'>Yên An Ngự Trà</a></li>
                                        </ul>
                                    </li>
                                    <li><a href='/contact'>Liên hệ</a></li>
                                    {{#if isLoggedIn}}
                                    <li><a href='/login' style='color: #0650c2'>Đăng xuất</a></li>
                                    {{else}}
                                    <li><a href='/login' style='color: #0650c2'>Đăng nhập</a></li>
                                    <li><a href='/sign-up' style='color: #0650c2'>Tạo tài khoản</a></li>
                                    {{/if}}
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class='col-lg-2'>
                        <div class='nav-menu'>
                            <nav class='mainmenu'>
                                <ul>
                                    <li>
                                        <a href='/cart' style='color: #0650c2'><img href='/cart'
                                                style='color: #333333; width: 20px; ' src='./img/cart-shopping.svg'
                                                alt='' /></a>
                                    </li>
                                    <li>
                                        <img style='color: #333333; width: 20px; ' src='./img/user-profile.svg'
                                            alt='' />
                                        {{customerName}}
                                        <ul class='dropdown'>
                                            <li><a href='/profile'><img style='width: 20px' src='/img/user.png' /> Trang
                                                    cá nhân</a></li>
                                            <li><a href='/change-password'><img style='width: 20px'
                                                        src='/img/key.svg' /> Đổi mật khẩu</a></li>
                                            <li><a href='/logout'><img style='width: 20px' src='/img/log-out.svg' />
                                                    Đăng xuất</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class='hero-section'>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-6'>
                    <div class='hero-text'>
                        <h1>YÊN TRÀ QUÁN</h1>
                        <p>
                            Yên Trà Quán với những tâm hồn tự tại đã trót yêu mẹ thiên nhiên say đắm, mong muốn được
                            dùng các loại thảo mộc chữa lành cho tất cả mọi người.
                        </p>
                        <a href='#' class='primary-btn'>Khám phá ngay!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class='hero-slider owl-carousel'>
            <div class='hs-item set-bg' data-setbg='img/hero/hero-2.jpg'></div>
            <div class='hs-item set-bg' data-setbg='img/hero/hero-1.jpg'></div>
            <div class='hs-item set-bg' data-setbg='img/hero/hero-3.jpg'></div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Us Section Begin -->
    <section class='aboutus-section spad'>
        <div class='container'>
            <div class='row center-submit'>
                <div class='section-title center-submit'>
                    <span>Về chúng tôi</span>
                </div>
            </div>
            <div class='row'>
                <div class='col-lg-6'>
                    <div class='about-text'>
                        <div class='section-title'>
                            <h2>Đôi nét Yên Trà</h2>
                        </div>
                        <p class='f-para'>
                            Yên Trà Quán được thành lập từ tháng 3 năm 2021, tiệm được lập nên chỉ với mục đích duy
                            nhất là thoả mãn đam mê bán trà, cũng như giúp cho mọi người được tiếp cận với các loại
                            trà dễ hơn.
                        </p>
                        <p class='s-para'>
                            Với mỗi loại trà bán ra, tiệm chúng tôi đã trải qua bao lần thử nghiệm, cũng như đảm bảo
                            tất cả các khâu chế biến, sản xuất để có được một hộp trà đảm bảo chất lượng. Với chúng
                            tôi, sản phẩm đúng chất lượng đến được tay khách hàng là một sự thành công.
                        </p>
                        <a href='/about-us' class='primary-btn about-btn'>Đọc thêm</a>
                    </div>
                </div>
                <div class='col-lg-6'>
                    <div class='about-text'>
                        <div class='section-title'>
                            <h2>Mục tiêu hoạt động</h2>
                        </div>
                        <p>
                            Cách đây khoảng 3 năm, Yên Trà Quán với những tâm hồn tự tại đã trót yêu mẹ thiên nhiên
                            say đắm, mong muốn được dùng các loại thảo mộc chữa lành cho tất cả mọi người. Sản phẩm
                            của
                            <strong>Yên Trà</strong>
                            có thành phần từ tự nhiên, được chế biến hoàn toàn bằng công nghệ sấy lạnh, không chứa
                            chất bảo quản và rất lành tính. Với mỗi sản phẩm bán ra đã trải qua bao lần thử nghiệm,
                            các khâu chế biến, sản xuất nghiêm ngặt để cho ra một hộp trà chất lượng đến được tay
                            khách hàng.
                        </p>
                        <a href='/about-us' class='primary-btn about-btn'>Đọc thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Section End -->

    <section class='product-section spad'>
        <div class='container'>
            <div class='row center-submit'>
                <div class='section-title'>
                    <span>Sản phẩm</span>
                </div>
            </div>
            <div class='row'>
                <div class='col-lg-12'>
                    <div class='section-title'>
                        <h2>Trà thảo mộc ngon mỗi ngày</h2>
                    </div>
                </div>
            </div>

            <div style='padding: 10px' class='row'>
                <!-- Start Column 4 -->
                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                    <a class='product-item' href='/detail-product'>
                        <img src='img/product/product_1.jpg' class='img-fluid product-thumbnail' />
                        <h3 class='product-title'>Liên Hoa Ngự Trà</h3>
                        <strong class='product-price'>VNĐ 143.00</strong>

                        <span class='icon-cross'>
                            <img src='img/cross.svg' class='img-fluid' />
                        </span>
                    </a>
                </div>
                <!-- End Column 4 -->

                <!-- Start Column 2 -->
                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                    <a class='product-item' href='/detail-product'>
                        <img src='img/product/product_2.jpg' class='img-fluid product-thumbnail' />
                        <h3 class='product-title'>Trà Gạo Lứt Thất Tinh Hoa</h3>
                        <strong class='product-price'>VNĐ 250.00</strong>

                        <span class='icon-cross'>
                            <img src='img/cross.svg' class='img-fluid' />
                        </span>
                    </a>
                </div>
                <!-- End Column 2 -->

                <!-- Start Column 3 -->
                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                    <a class='product-item' href='/detail-product'>
                        <img src='img/product/product_3.jpg' class='img-fluid product-thumbnail' />
                        <h3 class='product-title'>Hibiscus Cam Quế</h3>
                        <strong class='product-price'>VNĐ 178.00</strong>

                        <span class='icon-cross'>
                            <img src='img/cross.svg' class='img-fluid' />
                        </span>
                    </a>
                </div>
                <!-- End Column 3 -->

                <!-- Start Column 4 -->
                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                    <a class='product-item' href='/detail-product'>
                        <img src='img/product/product_4.jpg' class='img-fluid product-thumbnail' />
                        <h3 class='product-title'>Trà An Yên Ngủ Ngon</h3>
                        <strong class='product-price'>VNĐ 143.00</strong>

                        <span class='icon-cross'>
                            <img src='img/cross.svg' class='img-fluid' />
                        </span>
                    </a>
                </div>
                <!-- End Column 4 -->
                <div class='row'>
                    <a style='margin-top: 10px; color: #333333' href='/pages' class='primary-btn'>Khám phá ngay!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section Begin -->
    <footer class='footer-section'>
        <div class='container'>
            <div class='footer-text'>
                <div class='row'>
                    <div class='col-lg-4'>
                        <div class='ft-about'>
                            <div class='logo'>
                                <a href='#'>
                                    <img class='img-logo' src='img/logo.png' alt='' />
                                </a>
                            </div>
                            <p>
                                Yên Trà Quán với những tâm hồn tự tại đã trót yêu mẹ thiên nhiên say đắm, mong muốn
                                được dùng các loại thảo mộc chữa lành cho tất cả mọi người.
                            </p>
                        </div>
                    </div>
                    <div class='col-lg-3 offset-lg-1'>
                        <div class='ft-contact'>
                            <h6>Liên hệ</h6>
                            <ul>
                                <li>0123456789</li>
                                <li>yentraquan@gmail.com</li>
                                <li>227 Nguyen Van Cuu, Ward 4, <br />District 5, HCMc</li>
                            </ul>
                        </div>
                    </div>
                    <div class='col-lg-3 offset-lg-1'>
                        <div class='ft-newslatter'>
                            <h6>Thông tin mới nhất</h6>
                            <p>Cập nhật những ưu đãi và thông tin mới.</p>
                            <form action='#' class='fn-form'>
                                <input type='text' placeholder='Email' />
                                <button type='submit'><i class='fa fa-send'></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='copyright-option'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-12'>
                        <ul>
                            <li><a href='#'>Chính sách bán hàng</a></li>
                            <li><a href='#'>Chính sách thanh toán</a></li>
                            <li><a href='#'>Chính sách bảo hành</a></li>
                            <li><a href='#'>Điều khoản dịch vụ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src='js/jquery-3.3.1.min.js'></script>
    <script src='js/bootstrap.min.js'></script>
    <script src='js/jquery.magnific-popup.min.js'></script>
    <script src='js/jquery.nice-select.min.js'></script>
    <script src='js/jquery-ui.min.js'></script>
    <script src='js/jquery.slicknav.js'></script>
    <script src='js/owl.carousel.min.js'></script>
    <script src='js/main.js'></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            const loginLink = document.getElementById('isLoggedIn');

            if (isLogged != null) {
                loginLink.style.display = 'none';
            }
        });
    </script>
</body>

</html>