<!doctype html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="WanderStay" />
    <meta name="keywords" content="unica, creative" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>WanderStay | Hotels Booking</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/flaticon.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
      <div class="top-nav">
        <div class="container">
          <div class="row">
            <div class="col-lg-6"></div>
          </div>
        </div>
      </div>

      <div class="menu-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-2">
              <div class="logo">
                <a href="./index.html">
                  <img src="img/logo.png" alt="" />
                </a>
              </div>
            </div>
            <div class="col-lg-10">
              <div class="nav-menu">
                <nav class="mainmenu">
                  <ul>
                    <li><a href="./index.html">Trang chủ</a></li>
                    <li><a href="./about-us.html">Về chúng tôi</a></li>
                    <li>
                      <a href="./pages.html">Sản phẩm</a>
                      <ul class="dropdown">
                        <li><a href="./room-details.html">Trà hoa</a></li>
                        <li><a href="./blog-details.html">Trà thảo mộc</a></li>
                        <li><a href="#">Trà sen</a></li>
                        <li><a href="#">Bột sấy lạnh</a></li>
                      </ul>
                    </li>
                    <li><a href="./contact.html">Liên hệ</a></li>

                    <li class="active"><a href="./login.html" style="color: #0650c2">Đăng nhập</a></li>
                    <li><a href="./sign-up.html" style="color: #0650c2">Tạo tài khoản</a></li>
                  </ul>
                </nav>
                <div class="nav-right search-switch">
                  <img style="color: #333333; width: 20px" src="./img/grocery-store.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header End -->

    <!-- Login Start -->
    <div class="container">
      <div class="row">
        <div class="col-6 booking-form">
          <div class="hotel-booking-img center-submit">
            <img style="width: 80%" src="img/wanderstay-login.gif" alt="" />
          </div>
        </div>

        <div class="col-6">
          <div class="login-box">
            <h2 style="font-weight: bold; padding-top: 10px" class="text-center">Đăng nhập</h2>
            <h5>Vì lý do bảo mật, vui lòng đăng nhập bằng địa chỉ email của bạn để truy cập thông tin.</h5>
            <form method="post">
              <div class="txt-field">
                <input type="text" required />
                <span></span>
                <label>Email</label>
              </div>

              <div class="txt-field">
                <input type="text" required />
                <span></span>
                <label>Password</label>
              </div>

              <div class="center-submit">
                <input type="submit" value="Login" />
              </div>
            </form>
            <!-- This is the missing </form> tag -->

            <div class="signup_link">
              <div class="row">
                <div class="col">
                  <a id="pass" href="./forgot-password.html">Forget Password?</a>
                </div>
                <div class="col"></div>
                <div class="col">
                  <a href="./sign-up.html">Create Account</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Section Begin -->
    <footer class="footer-section">
      <div class="container">
        <div class="footer-text">
          <div class="row">
            <div class="col-lg-4">
              <div class="ft-about">
                <div class="logo">
                  <a href="#">
                    <img class="img-logo" src="img/logo.png" alt="" />
                  </a>
                </div>
                <p>
                  Yên Trà Quán với những tâm hồn tự tại đã trót yêu mẹ thiên nhiên say đắm, mong muốn được dùng các loại
                  thảo mộc chữa lành cho tất cả mọi người.
                </p>
                <div class="fa-social">
                  <a href="https://www.facebook.com/yentraquan22"><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a
                    href="https://www.instagram.com/yen_tra_quan?fbclid=IwAR02bTLIYQdy1fqupsAPNc_2UkxzAIr7Ui59Qmkzi3-l6RPKh0x7deDCMo8"
                    ><i class="fa fa-instagram"></i
                  ></a>
                  <a href="#"><i class="fa fa-youtube-play"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
              <div class="ft-contact">
                <h6>Liên hệ</h6>
                <ul>
                  <li>0123456789</li>
                  <li>yentraquan@gmail.com</li>
                  <li>227 Nguyen Van Cuu, Ward 4, <br />District 5, HCMc</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
              <div class="ft-newslatter">
                <h6>Thông tin mới nhất</h6>
                <p>Cập nhật những ưu đãi và thông tin mới.</p>
                <form action="#" class="fn-form">
                  <input type="text" placeholder="Email" />
                  <button type="submit"><i class="fa fa-send"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-option">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <ul>
                <li><a href="#">Chính sách bán hàng</a></li>
                <li><a href="#">Chính sách thanh toán</a></li>
                <li><a href="#">Chính sách bảo hành</a></li>
                <li><a href="#">Điều khoản dịch vụ</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
