<html lang='zxx'>

<head>
    <meta charset='UTF-8' />
    <meta name='description' content='WanderStay' />
    <meta name='keywords' content='unica, creative' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Yên Trà Quán</title>

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700&display=swap' rel='stylesheet' />
    <link href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap' rel='stylesheet' />

    <!-- Css Styles -->
    <link rel='stylesheet' href='css/bootstrap.min.css' type='text/css' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' />
    <link rel='stylesheet' href='css/elegant-icons.css' type='text/css' />
    <link rel='stylesheet' href='css/flaticon.css' type='text/css' />
    <link rel='stylesheet' href='css/owl.carousel.min.css' type='text/css' />
    <link rel='stylesheet' href='css/nice-select.css' type='text/css' />
    <link rel='stylesheet' href='css/jquery-ui.min.css' type='text/css' />
    <link rel='stylesheet' href='css/magnific-popup.css' type='text/css' />
    <link rel='stylesheet' href='css/slicknav.min.css' type='text/css' />
    <link rel='stylesheet' href='css/style.css' type='text/css' />
</head>

<body>
    <!-- Page Preloder -->
    <div id='preloder'>
        <div class='loader'></div>
    </div>

    <!-- Header Section Begin -->
    <header class='header-section header-normal'>
        <div class='top-nav'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-6'></div>
                </div>
            </div>
        </div>
        <div class='menu-item'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-2'>
                        <div class='logo'>
                            <a href='/'>
                                <img src='img/logo.png' alt='' />
                            </a>
                        </div>
                    </div>
                    <div class='col-lg-10'>
                        <div class='nav-menu'>
                            <nav class='mainmenu'>
                                <ul>
                                    <li><a href='/'>Trang chủ</a></li>
                                    <li><a href='/about-us'>Về chúng tôi</a></li>
                                    <li>
                                        <a href='/pages'>Sản phẩm</a>
                                        <ul class='dropdown'>
                                            <li><a href='/phong-vi-yen-tra'>Phong Vị Yên Trà</a></li>
                                            <li><a href='/hoa-co-duong-tam'>Hoa Cỏ Dưỡng Tâm</a></li>
                                            <li><a href='/thao-moc-nhiet-doi'>Thảo Mộc Nhiệt Đới</a></li>
                                            <li><a href='/yen-an-ngu-tra'>Yên An Ngự Trà</a></li>
                                        </ul>
                                    </li>
                                    <li><a href='/contact'>Liên hệ</a></li>
                                    <li>
                                        <a href='/cart' style='color: #0650c2'><img href='/cart'
                                                style='color: #333333; width: 20px; ' src='./img/cart-shopping.svg'
                                                alt='' /></a>
                                    </li>
                                    {{#if isLoggedIn}}
                                    <li>
                                        <img style='color: #333333; width: 20px; ' src='./img/user-profile.svg'
                                            alt='' />
                                        {{customerName}}
                                        <ul class='dropdown'>
                                            <li><a href='/profile'><img style='width: 20px' src='/img/user.png' /> Trang
                                                    cá nhân</a></li>
                                            <li><a href='/change-password'><img style='width: 20px'
                                                        src='/img/key.svg' /> Đổi mật khẩu</a></li>
                                            <li><a href='/logout'><img style='width: 20px' src='/img/log-out.svg' />
                                                    Đăng xuất</a></li>
                                        </ul>
                                    </li>
                                    {{else}}
                                    <li class="active"><a href='/login' style='color: #0650c2'>Đăng nhập</a></li>
                                    <li><a href='/sign-up' style='color: #0650c2'>Tạo tài khoản</a></li>
                                    {{/if}}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Login Start -->
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <div class="form-container">
                    <div class="form-body">
                        <h2 class="title">Đăng nhập bằng</h2>
                        <div class="social-login">
                            <ul>
                                <li class="google"><a href="#">Google</a></li>
                                <li class="fb"><a href="#">Facebook</a></li>
                            </ul>
                        </div>
                        <!-- SOCIAL LOGIN -->

                        <div class="_or">hoặc</div>

                        <form action='/login' method='post' class="the-form">
                            <label for="email">Địa chỉ email</label>
                            <input type="email" name="email" id="email" placeholder="Nhập email ở đây ..." />

                            <label for="password">Mật khẩu</label>
                            <input type="password" name="password" id="password"
                                placeholder="Nhập mật khẩu ở đây ..." />

                            <div class="center-submit">
                                <input class="center-submit" type="submit" value="Đăng nhập" />
                            </div>
                        </form>

                        <div class="form-footer">
                            <div><span>Chưa có tài khoản?</span><strong><a href="/sign-up">Tạo tài khoản</a></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section Begin -->
    <footer class='footer-section'>
        <div class='container'>
            <div class='footer-text'>
                <div class='row'>
                    <div class='col-lg-4'>
                        <div class='ft-about'>
                            <div class='logo'>
                                <a href='#'>
                                    <img class='img-logo' src='img/logo.png' alt='' />
                                </a>
                            </div>
                            <p>
                                Yên Trà Quán với những tâm hồn tự tại đã trót yêu mẹ thiên nhiên say đắm, mong muốn
                                được dùng các loại thảo mộc chữa lành cho tất cả mọi người.
                            </p>
                        </div>
                    </div>
                    <div class='col-lg-3 offset-lg-1'>
                        <div class='ft-contact'>
                            <h6>Liên hệ</h6>
                            <ul>
                                <li>0123456789</li>
                                <li>yentraquan@gmail.com</li>
                                <li>227 Nguyen Van Cuu, Ward 4, <br />District 5, HCMc</li>
                            </ul>
                        </div>
                    </div>
                    <div class='col-lg-3 offset-lg-1'>
                        <div class='ft-newslatter'>
                            <h6>Thông tin mới nhất</h6>
                            <p>Cập nhật những ưu đãi và thông tin mới.</p>
                            <form action='#' class='fn-form'>
                                <input type='text' placeholder='Email' />
                                <button type='submit'><i class='fa fa-send'></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='copyright-option'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-12'>
                        <ul>
                            <li><a href='#'>Chính sách bán hàng</a></li>
                            <li><a href='#'>Chính sách thanh toán</a></li>
                            <li><a href='#'>Chính sách bảo hành</a></li>
                            <li><a href='#'>Điều khoản dịch vụ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src='js/jquery-3.3.1.min.js'></script>
    <script src='js/bootstrap.min.js'></script>
    <script src='js/jquery.magnific-popup.min.js'></script>
    <script src='js/jquery.nice-select.min.js'></script>
    <script src='js/jquery-ui.min.js'></script>
    <script src='js/jquery.slicknav.js'></script>
    <script src='js/owl.carousel.min.js'></script>
    <script src='js/main.js'></script>
</body>

</html>