<html lang='zxx'>
    <head>
        <meta charset='UTF-8' />
        <meta name='description' content='WanderStay' />
        <meta name='keywords' content='unica, creative' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <meta http-equiv='X-UA-Compatible' content='ie=edge' />
        <title>Yên Trà Quán</title>

        <!-- Google Font -->
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700&display=swap' rel='stylesheet' />
        <link href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap' rel='stylesheet' />

        <!-- Css Styles -->
        <link rel='stylesheet' href='css/bootstrap.min.css' type='text/css' />
        <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' />
        <link rel='stylesheet' href='css/elegant-icons.css' type='text/css' />
        <link rel='stylesheet' href='css/flaticon.css' type='text/css' />
        <link rel='stylesheet' href='css/owl.carousel.min.css' type='text/css' />
        <link rel='stylesheet' href='css/nice-select.css' type='text/css' />
        <link rel='stylesheet' href='css/jquery-ui.min.css' type='text/css' />
        <link rel='stylesheet' href='css/magnific-popup.css' type='text/css' />
        <link rel='stylesheet' href='css/slicknav.min.css' type='text/css' />
        <link rel='stylesheet' href='css/style.css' type='text/css' />
    </head>

    <body>
        <!-- Page Preloder -->
        <div id='preloder'>
            <div class='loader'></div>
        </div>

        <!-- Header Section Begin -->
        <header class='header-section header-normal'>
            <div class='top-nav'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-lg-6'></div>
                    </div>
                </div>
            </div>
            <div class='menu-item'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-lg-2'>
                            <div class='logo'>
                                <a href='/'>
                                    <img src='img/logo.png' alt='' />
                                </a>
                            </div>
                        </div>
                        <div class='col-lg-10'>
                            <div class='nav-menu'>
                                <nav class='mainmenu'>
                                    <ul>
                                        <li><a href='/'>Trang chủ</a></li>
                                        <li><a href='/about-us'>Về chúng tôi</a></li>
                                        <li class='active'>
                                            <a href='/pages'>Sản phẩm</a>
                                            <ul class='dropdown'>
                                                <li><a href='/phong-vi-yen-tra'>Phong Vị Yên Trà</a></li>
                                                <li><a href='/hoa-co-duong-tam'>Hoa Cỏ Dưỡng Tâm</a></li>
                                                <li><a href='/thao-moc-nhiet-doi'>Thảo Mộc Nhiệt Đới</a></li>
                                                <li><a href='/yen-an-ngu-tra'>Yên An Ngự Trà</a></li>
                                            </ul>
                                        </li>
                                        <li><a href='/contact'>Liên hệ</a></li>

                                        <li><a href='/login' style='color: #0650c2'>Đăng nhập</a></li>
                                        <li><a href='/sign-up' style='color: #0650c2'>Tạo tài khoản</a></li>
                                    </ul>
                                </nav>
                                <div class='nav-right search-switch'>
                                    <a href='/cart' style='color: #0650c2'><img
                                            href='/cart'
                                            style='color: #333333; width: 20px'
                                            src='./img/grocery-store.png'
                                            alt=''
                                        /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->

        <section class='product-section spad'>
            <div class='container'>
                <div class='row'>
                    <div class='col-3'>
                        <div class='ads-grid_shop'>
                            <div class='shop_inner_inf'>
                                <!-- tittle heading -->

                                <!-- //tittle heading -->
                                <!-- product left -->
                                <div class=''>
                                    <div class='search-hotel'>
                                        <h3 class='agileits-sear-head'>Tìm kiếm sản phẩm..</h3>
                                        <form action='#' method='post'>
                                            <input type='search' placeholder='Tên sản phẩm' name='search' required='' />
                                            <input type='submit' value=' ' />
                                        </form>
                                    </div>

                                    <!--preference -->
                                    <div class='left-side'>
                                        <h3 class='agileits-sear-head'>Loại Trà</h3>
                                        <ul>
                                            <li>
                                                <input type='checkbox' class='checked' />
                                                <span class='span'>Phong Vị Yên Trà</span>
                                            </li>
                                            <li>
                                                <input type='checkbox' class='checked' />
                                                <span class='span'>Hoa Cỏ Dưỡng Tâm</span>
                                            </li>
                                            <li>
                                                <input type='checkbox' class='checked' />
                                                <span class='span'>Thảo Mộc Nhiệt Đới</span>
                                            </li>
                                            <li>
                                                <input type='checkbox' class='checked' />
                                                <span class='span'>Yên An Ngự Trà</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- // preference -->

                                    <!-- reviews -->
                                    <div class='customer-rev left-side'>
                                        <h3 class='agileits-sear-head'>Khách hàng đánh giá</h3>
                                        <ul>
                                            <li>
                                                <a href='#'>
                                                    <i class='fa fa-star' aria-hidden='true'></i>
                                                    <i class='fa fa-star' aria-hidden='true'></i>
                                                    <i class='fa fa-star' aria-hidden='true'></i>
                                                    <i class='fa fa-star' aria-hidden='true'></i>
                                                    <i class='fa fa-star' aria-hidden='true'></i>
                                                    <span>5.0</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href='#'>
                                                    <i class='fa fa-star' aria-hidden='true'></i>
                                                    <i class='fa fa-star' aria-hidden='true'></i>
                                                    <i class='fa fa-star' aria-hidden='true'></i>
                                                    <i class='fa fa-star' aria-hidden='true'></i>
                                                    <i class='fa fa-star-o' aria-hidden='true'></i>
                                                    <span>4.0</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href='#'>
                                                    <i class='fa fa-star' aria-hidden='true'></i>
                                                    <i class='fa fa-star' aria-hidden='true'></i>
                                                    <i class='fa fa-star' aria-hidden='true'></i>
                                                    <i class='fa fa-star-half-o' aria-hidden='true'></i>
                                                    <i class='fa fa-star-o' aria-hidden='true'></i>
                                                    <span>3.5</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href='#'>
                                                    <i class='fa fa-star' aria-hidden='true'></i>
                                                    <i class='fa fa-star' aria-hidden='true'></i>
                                                    <i class='fa fa-star' aria-hidden='true'></i>
                                                    <i class='fa fa-star-o' aria-hidden='true'></i>
                                                    <i class='fa fa-star-o' aria-hidden='true'></i>
                                                    <span>3.0</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href='#'>
                                                    <i class='fa fa-star' aria-hidden='true'></i>
                                                    <i class='fa fa-star' aria-hidden='true'></i>
                                                    <i class='fa fa-star-half-o' aria-hidden='true'></i>
                                                    <i class='fa fa-star-o' aria-hidden='true'></i>
                                                    <i class='fa fa-star-o' aria-hidden='true'></i>
                                                    <span>2.5</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- price range -->
                                    <div style='border-bottom: 2px solid #f5f5f5; height: 40%'>
                                        <div style='padding: 15px 0px'>
                                            <h3 class='agileits-sear-head'>Lọc theo giá</h3>
                                        </div>
                                        <div style='padding: 15px 0px' class='range-slider container'>
                                            <section>
                                                <span class='output outputOne'></span>
                                                <span class='output outputTwo'></span>
                                                <span class='full-range'></span>
                                                <span class='incl-range'></span>
                                                <input
                                                    name='rangeOne'
                                                    value='100000'
                                                    min='0'
                                                    max='1000000'
                                                    step='1'
                                                    type='range'
                                                />
                                                <input
                                                    name='rangeTwo'
                                                    value='900000'
                                                    min='0'
                                                    max='1000000'
                                                    step='1'
                                                    type='range'
                                                />
                                            </section>
                                        </div>
                                    </div>

                                    <!-- //price range -->

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='col-9'>
                        <div class='col-lg-12'>
                            <div class='row product-list'>
                                <!-- Start Column 4 -->
                                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                                    <a class='product-item' href='/cart'>
                                        <img src='./img/product/product_1.jpg' class='img-fluid product-thumbnail' />
                                        <h3 class='product-title'>Liên Hoa Ngự Trà</h3>
                                        <strong class='product-price'>VNĐ 143.00</strong>

                                        <span class='icon-cross'>
                                            <img src='./img/cross.svg' class='img-fluid' />
                                        </span>
                                    </a>
                                </div>
                                <!-- End Column 4 -->

                                <!-- Start Column 2 -->
                                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                                    <a class='product-item' href='/cart'>
                                        <img src='./img/product/product_2.jpg' class='img-fluid product-thumbnail' />
                                        <h3 class='product-title'>Gạo Lứt Thất Tinh Hoa</h3>
                                        <strong class='product-price'>VNĐ 350.00</strong>

                                        <span class='icon-cross'>
                                            <img src='./img/cross.svg' class='img-fluid' />
                                        </span>
                                    </a>
                                </div>
                                <!-- End Column 2 -->

                                <!-- Start Column 3 -->
                                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                                    <a class='product-item' href='/cart'>
                                        <img src='./img/product/product_3.jpg' class='img-fluid product-thumbnail' />
                                        <h3 class='product-title'>Hibiscus Cam Quế</h3>
                                        <strong class='product-price'>VNĐ 278.00</strong>

                                        <span class='icon-cross'>
                                            <img src='./img/cross.svg' class='img-fluid' />
                                        </span>
                                    </a>
                                </div>
                                <!-- End Column 3 -->

                                <!-- Start Column 4 -->
                                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                                    <a class='product-item' href='/cart'>
                                        <img src='./img/product/product_4.jpg' class='img-fluid product-thumbnail' />
                                        <h3 class='product-title'>Trà An Yên Ngủ Ngon</h3>
                                        <strong class='product-price'>VNĐ 143.00</strong>

                                        <span class='icon-cross'>
                                            <img src='./img/cross.svg' class='img-fluid' />
                                        </span>
                                    </a>
                                </div>
                                <!-- End Column 4 -->
                            </div>
                        </div>

                        <!-- SECTION 2 -->

                        <div class='col-lg-12'>
                            <div class='row product-list'>
                                <!-- Start Column 4 -->
                                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                                    <a class='product-item' href='/cart'>
                                        <img src='./img/product/product_1.jpg' class='img-fluid product-thumbnail' />
                                        <h3 class='product-title'>Liên Hoa Ngự Trà</h3>
                                        <strong class='product-price'>VNĐ 243.00</strong>

                                        <span class='icon-cross'>
                                            <img src='./img/cross.svg' class='img-fluid' />
                                        </span>
                                    </a>
                                </div>
                                <!-- End Column 4 -->

                                <!-- Start Column 2 -->
                                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                                    <a class='product-item' href='/cart'>
                                        <img src='./img/product/product_2.jpg' class='img-fluid product-thumbnail' />
                                        <h3 class='product-title'>Gạo Lứt Thất Tinh Hoa</h3>
                                        <strong class='product-price'>VNĐ 250.00</strong>

                                        <span class='icon-cross'>
                                            <img src='./img/cross.svg' class='img-fluid' />
                                        </span>
                                    </a>
                                </div>
                                <!-- End Column 2 -->

                                <!-- Start Column 3 -->
                                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                                    <a class='product-item' href='/cart'>
                                        <img src='./img/product/product_3.jpg' class='img-fluid product-thumbnail' />
                                        <h3 class='product-title'>Hibiscus Cam Quế</h3>
                                        <strong class='product-price'>VNĐ 178.00</strong>

                                        <span class='icon-cross'>
                                            <img src='./img/cross.svg' class='img-fluid' />
                                        </span>
                                    </a>
                                </div>
                                <!-- End Column 3 -->

                                <!-- Start Column 4 -->
                                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                                    <a class='product-item' href='/cart'>
                                        <img src='./img/product/product_4.jpg' class='img-fluid product-thumbnail' />
                                        <h3 class='product-title'>Trà An Yên Ngủ Ngon</h3>
                                        <strong class='product-price'>VNĐ 843.00</strong>

                                        <span class='icon-cross'>
                                            <img src='./img/cross.svg' class='img-fluid' />
                                        </span>
                                    </a>
                                </div>
                                <!-- End Column 4 -->
                            </div>
                        </div>

                        <!-- SECTION 3 -->

                        <div class='col-lg-12'>
                            <div class='row product-list'>
                                <!-- Start Column 4 -->
                                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                                    <a class='product-item' href='/cart'>
                                        <img src='./img/product/product_1.jpg' class='img-fluid product-thumbnail' />
                                        <h3 class='product-title'>Liên Hoa Ngự Trà</h3>
                                        <strong class='product-price'>VNĐ 343.00</strong>

                                        <span class='icon-cross'>
                                            <img src='./img/cross.svg' class='img-fluid' />
                                        </span>
                                    </a>
                                </div>
                                <!-- End Column 4 -->

                                <!-- Start Column 2 -->
                                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                                    <a class='product-item' href='/cart'>
                                        <img src='./img/product/product_2.jpg' class='img-fluid product-thumbnail' />
                                        <h3 class='product-title'>Gạo Lứt Thất Tinh Hoa</h3>
                                        <strong class='product-price'>VNĐ 250.00</strong>

                                        <span class='icon-cross'>
                                            <img src='./img/cross.svg' class='img-fluid' />
                                        </span>
                                    </a>
                                </div>
                                <!-- End Column 2 -->

                                <!-- Start Column 3 -->
                                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                                    <a class='product-item' href='/cart'>
                                        <img src='./img/product/product_3.jpg' class='img-fluid product-thumbnail' />
                                        <h3 class='product-title'>Hibiscus Cam Quế</h3>
                                        <strong class='product-price'>VNĐ 478.00</strong>

                                        <span class='icon-cross'>
                                            <img src='./img/cross.svg' class='img-fluid' />
                                        </span>
                                    </a>
                                </div>
                                <!-- End Column 3 -->

                                <!-- Start Column 4 -->
                                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                                    <a class='product-item' href='/cart'>
                                        <img src='./img/product/product_4.jpg' class='img-fluid product-thumbnail' />
                                        <h3 class='product-title'>Trà An Yên Ngủ Ngon</h3>
                                        <strong class='product-price'>VNĐ 543.00</strong>

                                        <span class='icon-cross'>
                                            <img src='./img/cross.svg' class='img-fluid' />
                                        </span>
                                    </a>
                                </div>
                                <!-- End Column 4 -->
                            </div>
                        </div>

                        <!-- SECTION 4 -->
                        <div class='col-lg-12'>
                            <div class='row product-list'>
                                <!-- Start Column 4 -->
                                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                                    <a class='product-item' href='/cart'>
                                        <img src='./img/product/product_1.jpg' class='img-fluid product-thumbnail' />
                                        <h3 class='product-title'>Liên Hoa Ngự Trà</h3>
                                        <strong class='product-price'>VNĐ 443.00</strong>

                                        <span class='icon-cross'>
                                            <img src='./img/cross.svg' class='img-fluid' />
                                        </span>
                                    </a>
                                </div>
                                <!-- End Column 4 -->

                                <!-- Start Column 2 -->
                                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                                    <a class='product-item' href='/cart'>
                                        <img src='./img/product/product_2.jpg' class='img-fluid product-thumbnail' />
                                        <h3 class='product-title'>Gạo Lứt Thất Tinh Hoa</h3>
                                        <strong class='product-price'>VNĐ 350.00</strong>

                                        <span class='icon-cross'>
                                            <img src='./img/cross.svg' class='img-fluid' />
                                        </span>
                                    </a>
                                </div>
                                <!-- End Column 2 -->

                                <!-- Start Column 3 -->
                                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                                    <a class='product-item' href='/cart'>
                                        <img src='./img/product/product_3.jpg' class='img-fluid product-thumbnail' />
                                        <h3 class='product-title'>Hibiscus Cam Quế</h3>
                                        <strong class='product-price'>VNĐ 278.00</strong>

                                        <span class='icon-cross'>
                                            <img src='./img/cross.svg' class='img-fluid' />
                                        </span>
                                    </a>
                                </div>
                                <!-- End Column 3 -->

                                <!-- Start Column 4 -->
                                <div class='col-12 col-md-4 col-lg-3 mb-5 mb-md-0'>
                                    <a class='product-item' href='/cart'>
                                        <img src='./img/product/product_4.jpg' class='img-fluid product-thumbnail' />
                                        <h3 class='product-title'>Trà An Yên Ngủ Ngon</h3>
                                        <strong class='product-price'>VNĐ 743.00</strong>

                                        <span class='icon-cross'>
                                            <img src='./img/cross.svg' class='img-fluid' />
                                        </span>
                                    </a>
                                </div>
                                <!-- End Column 4 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer Section Begin -->
        <footer class='footer-section'>
            <div class='container'>
                <div class='footer-text'>
                    <div class='row'>
                        <div class='col-lg-4'>
                            <div class='ft-about'>
                                <div class='logo'>
                                    <a href='#'>
                                        <img class='img-logo' src='img/logo.png' alt='' />
                                    </a>
                                </div>
                                <p>
                                    Yên Trà Quán với những tâm hồn tự tại đã trót yêu mẹ thiên nhiên say đắm, mong muốn
                                    được dùng các loại thảo mộc chữa lành cho tất cả mọi người.
                                </p>
                            </div>
                        </div>
                        <div class='col-lg-3 offset-lg-1'>
                            <div class='ft-contact'>
                                <h6>Liên hệ</h6>
                                <ul>
                                    <li>0123456789</li>
                                    <li>yentraquan@gmail.com</li>
                                    <li>227 Nguyen Van Cuu, Ward 4, <br />District 5, HCMc</li>
                                </ul>
                            </div>
                        </div>
                        <div class='col-lg-3 offset-lg-1'>
                            <div class='ft-newslatter'>
                                <h6>Thông tin mới nhất</h6>
                                <p>Cập nhật những ưu đãi và thông tin mới.</p>
                                <form action='#' class='fn-form'>
                                    <input type='text' placeholder='Email' />
                                    <button type='submit'><i class='fa fa-send'></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='copyright-option'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-lg-12'>
                            <ul>
                                <li><a href='#'>Chính sách bán hàng</a></li>
                                <li><a href='#'>Chính sách thanh toán</a></li>
                                <li><a href='#'>Chính sách bảo hành</a></li>
                                <li><a href='#'>Điều khoản dịch vụ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->

        <!-- Js Plugins -->
        <script src='js/jquery-3.3.1.min.js'></script>
        <script src='js/bootstrap.min.js'></script>
        <script src='js/jquery.magnific-popup.min.js'></script>
        <script src='js/jquery.nice-select.min.js'></script>
        <script src='js/jquery-ui.min.js'></script>
        <script src='js/jquery.slicknav.js'></script>
        <script src='js/owl.carousel.min.js'></script>
        <script src='js/main.js'></script>
    </body>
</html>