<html lang='zxx'>

<head>
    <meta charset='UTF-8' />
    <meta name='description' content='WanderStay' />
    <meta name='keywords' content='unica, creative' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Yên Trà Quán</title>

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700&display=swap' rel='stylesheet' />
    <link href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap' rel='stylesheet' />

    <!-- Css Styles -->
    <link rel='stylesheet' href='css/bootstrap.min.css' type='text/css' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' />
    <link rel='stylesheet' href='css/elegant-icons.css' type='text/css' />
    <link rel='stylesheet' href='css/flaticon.css' type='text/css' />
    <link rel='stylesheet' href='css/owl.carousel.min.css' type='text/css' />
    <link rel='stylesheet' href='css/nice-select.css' type='text/css' />
    <link rel='stylesheet' href='css/jquery-ui.min.css' type='text/css' />
    <link rel='stylesheet' href='css/magnific-popup.css' type='text/css' />
    <link rel='stylesheet' href='css/slicknav.min.css' type='text/css' />
    <link rel='stylesheet' href='css/style.css' type='text/css' />
</head>

<body>
    <!-- Page Preloder -->
    <div id='preloder'>
        <div class='loader'></div>
    </div>

    <!-- Header Section Begin -->
    <header class='header-section header-normal'>
        <div class='top-nav'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-6'></div>
                </div>
            </div>
        </div>
        <div class='menu-item'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-2'>
                        <div class='logo'>
                            <a href='/'>
                                <img src='img/logo.png' alt='' />
                            </a>
                        </div>
                    </div>
                    <div class='col-lg-8'>
                        <div class='nav-menu'>
                            <nav class='mainmenu'>
                                <ul>
                                    <li><a href='/'>Trang chủ</a></li>
                                    <li><a href='/about-us'>Về chúng tôi</a></li>
                                    <li>
                                        <a href='/pages'>Sản phẩm</a>
                                        <ul class='dropdown'>
                                            <li><a href='/phong-vi-yen-tra'>Phong Vị Yên Trà</a></li>
                                            <li><a href='/hoa-co-duong-tam'>Hoa Cỏ Dưỡng Tâm</a></li>
                                            <li><a href='/thao-moc-nhiet-doi'>Thảo Mộc Nhiệt Đới</a></li>
                                            <li><a href='/yen-an-ngu-tra'>Yên An Ngự Trà</a></li>
                                        </ul>
                                    </li>
                                    <li><a href='/contact'>Liên hệ</a></li>
                                    {{#if isLoggedIn}}
                                    <li><a href='/login' style='color: #0650c2'>Đăng xuất</a></li>
                                    {{else}}
                                    <li><a href='/login' style='color: #0650c2'>Đăng nhập</a></li>
                                    <li><a href='/sign-up' style='color: #0650c2'>Tạo tài khoản</a></li>
                                    {{/if}}
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class='col-lg-2'>
                        <div class='nav-menu'>
                            <nav class='mainmenu'>
                                <ul>
                                    <li>
                                        <a href='/cart' style='color: #0650c2'><img href='/cart'
                                                style='color: #333333; width: 20px; ' src='./img/cart-shopping.svg'
                                                alt='' /></a>
                                    </li>
                                    <li>
                                        <img style='color: #333333; width: 20px; ' src='./img/user-profile.svg'
                                            alt='' />
                                        {{customerName}}
                                        <ul class='dropdown'>
                                            <li><a href='/profile'><img style='width: 20px' src='/img/user.png'
                                                        alt='' />
                                                    Trang cá nhân</a></li>
                                            <li><a href='/logout'>Đăng xuất</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <div class='untree_co-section'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-12 text-center pt-5'>
                    <span class='display-3 thankyou-icon text-primary'>
                        <svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-cart-check mb-5'
                            fill='currentColor' xmlns='http://www.w3.org/2000/svg'>
                            <path fill-rule='evenodd'
                                d='M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z' />
                            <path fill-rule='evenodd'
                                d='M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z' />
                        </svg>
                    </span>
                    <h2 class='display-3 text-black'>Cảm ơn bạn đã tin chọn Yên Trà!</h2>
                    <p class='lead mb-5'>Đơn hàng của bạn đã được thanh toán thành công</p>
                    <p>
                        <a href='/pages' class='btn btn-sm btn-outline-black'>Quay lại mua hàng</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section Begin -->
    <footer class='footer-section'>
        <div class='container'>
            <div class='footer-text'>
                <div class='row'>
                    <div class='col-lg-4'>
                        <div class='ft-about'>
                            <div class='logo'>
                                <a href='#'>
                                    <img class='img-logo' src='img/logo.png' alt='' />
                                </a>
                            </div>
                            <p>
                                Yên Trà Quán với những tâm hồn tự tại đã trót yêu mẹ thiên nhiên say đắm, mong muốn
                                được dùng các loại thảo mộc chữa lành cho tất cả mọi người.
                            </p>
                        </div>
                    </div>
                    <div class='col-lg-3 offset-lg-1'>
                        <div class='ft-contact'>
                            <h6>Liên hệ</h6>
                            <ul>
                                <li>0123456789</li>
                                <li>yentraquan@gmail.com</li>
                                <li>227 Nguyen Van Cuu, Ward 4, <br />District 5, HCMc</li>
                            </ul>
                        </div>
                    </div>
                    <div class='col-lg-3 offset-lg-1'>
                        <div class='ft-newslatter'>
                            <h6>Thông tin mới nhất</h6>
                            <p>Cập nhật những ưu đãi và thông tin mới.</p>
                            <form action='#' class='fn-form'>
                                <input type='text' placeholder='Email' />
                                <button type='submit'><i class='fa fa-send'></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='copyright-option'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-12'>
                        <ul>
                            <li><a href='#'>Chính sách bán hàng</a></li>
                            <li><a href='#'>Chính sách thanh toán</a></li>
                            <li><a href='#'>Chính sách bảo hành</a></li>
                            <li><a href='#'>Điều khoản dịch vụ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src='js/jquery-3.3.1.min.js'></script>
    <script src='js/bootstrap.min.js'></script>
    <script src='js/jquery.magnific-popup.min.js'></script>
    <script src='js/jquery.nice-select.min.js'></script>
    <script src='js/jquery-ui.min.js'></script>
    <script src='js/jquery.slicknav.js'></script>
    <script src='js/owl.carousel.min.js'></script>
    <script src='js/main.js'></script>
</body>

</html>