<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <meta name='description' content='' />
        <meta name='author' content='' />

        <title>Dashboard | Yên Trà Quán</title>

        <link href='/css/admin/bootstrap.min.css' rel='stylesheet' />
        <link href='/css/admin/metisMenu.min.css' rel='stylesheet' />
        <link href='/css/admin/timeline.css' rel='stylesheet' />
        <link href='/css/admin/startmin.css' rel='stylesheet' />
        <link href='/css/admin/morris.css' rel='stylesheet' />
        <link href='/css/admin/font-awesome.min.css' rel='stylesheet' type='text/css' />
    </head>

    <body>
        <div id='wrapper'>
            <nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
                <ul class='nav navbar-nav navbar-left navbar-top-links'>
                    <li>
                        <a href='#'><img style='width: 20px' src='/img/internet.png' alt='' /> Website</a>
                    </li>
                </ul>

                <ul class='nav navbar-right navbar-top-links'>
                    <li class='dropdown'>
                        <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                            <img style='width: 20px' src='/img/profile-user.png' alt='' />
                            baopham<b class='caret'></b>
                        </a>
                        <ul class='dropdown-menu dropdown-user'>
                            <li>
                                <a href='#'><img style='width: 20px' src='/img/user.png' alt='' /> Trang cá nhân</a>
                            </li>
                            <li>
                                <a href='#'><img style='width: 20px' src='/img/setting.png' alt='' /> Cài đặt</a>
                            </li>
                            <li class='divider'></li>
                            <li>
                                <a href='/login-admin'><img style='width: 20px' src='/img/logout.png' alt='' />
                                    Đăng xuất</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <aside class='sidebar navbar-default' role='navigation'>
                <div class='sidebar-nav navbar-collapse'>
                    <ul class='nav' id='side-menu'>
                        <li class='sidebar-search'>
                            <div class='input-group custom-search-form'>
                                <input type='text' class='form-control' placeholder='Tìm kiếm ...' />
                                <span class='input-group-btn'>
                                    <button class='btn btn-primary' type='button'>
                                        <img style='width: 20px' src='/img/search.png' alt='' />
                                    </button>
                                </span>
                            </div>
                        </li>
                        <li>
                            <a href='/admin/dashboard' class='active'>Dashboard</a>
                        </li>
                        <li>
                            <a href='/admin/user'>Người dùng<span></span></a>
                        </li>
                        <li>
                            <a href='/admin/product'>Sản phẩm</a>
                        </li>
                        <li>
                            <a href='/admin/order'>Đơn hàng</a>
                        </li>
                    </ul>
                </div>
            </aside>

            <div id='page-wrapper'>
                <div class='container-fluid'>
                    <div class='row'>
                        <div class='col-lg-12'>
                            <h1 class='page-header'>Dashboard | Yên Trà Quán</h1>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-lg-3 col-md-6'>
                            <div class='panel panel-primary'>
                                <div class='panel-heading'>
                                    <div class='row'>
                                        <div class='col-xs-3'>
                                        </div>
                                        <div class='col-xs-9 text-right'>
                                            <div class='huge'>245</div>
                                            <div>NGƯỜI DÙNG</div>
                                        </div>
                                    </div>
                                </div>
                                <a href='#'>
                                    <div class='panel-footer'>
                                        <a href='/admin/user'><span class='pull-left'>Xem chi tiết!</span></a>
                                        <div class='clearfix'></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class='col-lg-3 col-md-6'>
                            <div class='panel panel-green'>
                                <div class='panel-heading'>
                                    <div class='row'>
                                        <div class='col-xs-3'>
                                        </div>
                                        <div class='col-xs-9 text-right'>
                                            <div class='huge'>12</div>
                                            <div>SẢN PHẨM</div>
                                        </div>
                                    </div>
                                </div>
                                <a href='#'>
                                    <div class='panel-footer'>
                                        <a href='/admin/product'><span class='pull-left'>Xem chi tiết!</span></a>
                                        <div class='clearfix'></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class='col-lg-3 col-md-6'>
                            <div class='panel panel-yellow'>
                                <div class='panel-heading'>
                                    <div class='row'>
                                        <div class='col-xs-3'>
                                        </div>
                                        <div class='col-xs-9 text-right'>
                                            <div class='huge'>124</div>
                                            <div>ĐƠN HÀNG</div>
                                        </div>
                                    </div>
                                </div>
                                <a href='#'>
                                    <div class='panel-footer'>
                                        <a href='/admin/order'><span class='pull-left'>Xem chi tiết!</span></a>
                                        <div class='clearfix'></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class='col-lg-3 col-md-6'>
                            <div class='panel panel-red'>
                                <div class='panel-heading'>
                                    <div class='row'>
                                        <div class='col-xs-3'>
                                        </div>
                                        <div class='col-xs-9 text-right'>
                                            <div class='huge'>13</div>
                                            <div>DOANH THU</div>
                                        </div>
                                    </div>
                                </div>
                                <a href='#'>
                                    <div class='panel-footer'>
                                        <span class='pull-left'>Xem chi tiết!</span>

                                        <div class='clearfix'></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                    <div class='row'>
                        <div class='col-lg-8'>
                            <div class='panel panel-default'>
                                <div class='panel-heading'>
                                    Doanh thu trong tháng
                                    <div class='pull-right'></div>
                                </div>
                                <!-- /.panel-heading -->
                                <div class='panel-body'>
                                    <div id='morris-area-chart'></div>
                                </div>
                            </div>

                        </div>
                        <div class='col-lg-4'>
                            <div class='panel panel-default'>
                                <div class='panel-heading'>Sản phẩm bán chạy</div>
                                <div class='panel-body'>
                                    <div id='morris-donut-chart'></div>
                                    <a href='#' class='btn btn-default btn-block'>Xem chi tiết!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src='/js/admin/jquery.min.js'></script>
        <script src='/js/admin/bootstrap.min.js'></script>
        <script src='/js/admin/metisMenu.min.js'></script>
        <script src='/js/admin/raphael.min.js'></script>
        <script src='/js/admin/morris.min.js'></script>
        <script src='/js/admin/morris-data.js'></script>
        <script src='/js/admin/startmin.js'></script>
    </body>
</html>